{% extends 'RasenNineGagBundle:Layout:default.html.twig' %}
{% trans_default_domain "RasenNineGagBundle" %}
{% block container %}
    <div class="container main-container">
    {% block content %}
    {% endblock %}
    </div>
{% endblock %}