{% trans_default_domain "RasenNineGagBundle" %}
<nav class="navbar navbar-default nav_col navbar-fixed-top" role="navigation" >
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand{% if active == 'home' %} active{% endif %}" href="{{ path('rasen_ninegag_main_home') }}">
                {% image '@RasenNineGagBundle/Resources/public/images/logo.png'
                output='images/logo.png' package="cdna" %}
                <img alt="3paaye.com" src="{{ asset_url }}"/>
                {% endimage %}
            </a>
        </div>
        <ul class="nav navbar-nav navbar-left ">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {# <li><a class="navbar-search-link" href="#"><span class="glyphicon glyphicon-search"></span></a></li> #}
            {% set notice = view_helper.getActiveNotice() %}
            {% if notice is not empty %}
                <li id="noticeDropdown" class="notice-dropdown arrow-dropdown dropdown">
                    {% set notice_icon = 'ion-information-circled' %}
                    {% if notice.icon is not null %}
                        {% set notice_icon = notice.icon %}
                    {% endif %}
                    <a id="noticeDropdownBtn" href="#" class="dropdown-toggle"{{ notice.iconColor is not null ? (' style="color:' ~ notice.iconColor ~ ' !important;"')|raw }}>
                        <i class="notice-icon {{ notice_icon }} animation-off"></i>
                    </a>
                    <div class="notice-container dropdown-arrow dropdown-menu" role="menu">
                        <div id="noticeContent" class="notice-content" data-id="{{ notice.id|hashid }}">
                            {% if vich_uploader_asset(notice, 'notice_images') is not null %}
                                {% set notice_image = (vich_uploader_asset(notice, 'notice_images') | imagine_filter('w300')) %}
                                <div class="image-container"><img class="notice-thumb" src="{{ notice_image }}" width="300"/></div>
                            {% endif %}
                            <h1 class="notice-title">{{ notice.title }}</h1>
                            <p>{{ notice.content|raw }}</p>
                        </div>
                    </div>
                </li>
            {% endif %}
            {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li><a data-remote="false" data-toggle="modal" href="{{ path('fos_user_security_login') }}" data-target="#loginModal">{{ 'navbar.login'|trans }}</a></li>
                <li><a data-remote="false" data-toggle="modal" class="navbar-mgn" href="{{ path('fos_user_registration_register') }}" data-target="#registerModal" >{{ 'form.user.register'|trans }}</a></li>
                {# <li><a class="navbar-mgn" href=" path('fos_user_registration_register') ">{{ 'form.user.register'|trans }}</a></li> #}
            {% else %}
                <li class="dropdown mview">
                    {% set user_image = ('/bundles/rasenninegag/images/empty_user.png' | imagine_filter('square_48')) %}
                    {% if vich_uploader_asset(app.user, 'profile_pics') is not null %}
                        {% set user_image = (vich_uploader_asset(app.user, 'profile_pics') | imagine_filter('square_48')) %}
                    {% endif %}
                    <a href="{{ path('rasen_ninegag_user_profile', { username: app.user.username }) }}" class="user-dropdown dropdown-toggle clearfix" data-toggle="dropdown"><img width="30" height="30" class="profile-img" src="{{ user_image }}"><div class="nav-username-container hidden-xs"><span class="caret"></span></div></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{{ path('rasen_ninegag_user_profile', { username: app.user.username }) }}"><span class="fa fa-user fa-fw"></span> {{ 'navbar.profile'|trans }}</a>
                        </li>
                        <li><a href="{{ path('rasen_ninegag_main_setting') }}"><span class="fa fa-cog fa-fw"></span> {{ 'form.user.setting'|trans }}</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}"><span class="fa fa-power-off fa-fw"></span> {{ 'form.user.logout'|trans }}</a></li>
                    </ul>
                </li>
                <li id="notificationDropdown" class="notifications-dropdown arrow-dropdown dropdown">
                    <a id="notificationDropdownBtn" href="{{ path('rasen_ninegag_notification_all') }}" class="dropdown-toggle">
                        <span class="notif-bell icon-s icon-notif-bell-s"></span>
                        <span class="unread-no" {% if unreadNotificationCount == 0 %}style="display: none"{% endif %}>{% if unreadNotificationCount is defined %}{{ unreadNotificationCount }}{% endif %}</span></a>
                    <div class="notifications-container dropdown-arrow dropdown-menu" role="menu">
                        <div class="loading" style="display: none"><i class="ion-looping"></i></div>
                        <div class="empty-msg">{{ 'notification.empty'|trans }}</div>
                        <ul id="notificationList" class="notification-list" style="display: none"></ul>
                        <a class="btn btn-default btn-block btn-sm all-notification-btn" href="{{ path('rasen_ninegag_notification_all') }}">{{ 'notification.view_all'|trans }}</a>
                    </div>
                </li>
            {% endif %}
            {% set btnUploadTarget = is_granted("IS_AUTHENTICATED_REMEMBERED") ? "#uploadModal" : "#loginModal" %}
            <li><a id="btnUpload" class="btn_pad btn btn-default" data-remote="false" data-toggle="modal" data-target="{{ btnUploadTarget }}" href="{{ path('rasen_ninegag_post_upload') }}">{{ 'navbar.upload'|trans }}</a></li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}<li><a id="btn-Upload" class="btn_pad btn btn-default btn-icon" data-remote="false" data-toggle="modal" data-target="{{ btnUploadTarget }}" href="{{ path('rasen_ninegag_post_upload') }}"><i class="fa fa-plus"></i></a></li>{% endif %}
        </ul>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="nav navbar-nav navbar-right">
                {% set allCategories = view_helper.getAllCategoriesClassified() %}
                {% for category in allCategories.main %}
                    <li><a {% if ('category.' ~ category.slug) == active %} class="active"{% endif %} href="{{ path('rasen_ninegag_postcategory_view', {'slug': category.slug}) }}">{{ category.name }}</a></li>
                {% endfor %}
                {% if allCategories.more is not empty %}
                    {% for category in allCategories.more %}
                        {% if ('category.' ~ category.slug) == active %}
                            <li><a class="active" href="{{ path('rasen_ninegag_postcategory_view', {'slug': category.slug}) }}">{{ category.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li id="moreCategoriesDropdown" class="dropdown more-categories">
                        <a id="moreToggle" href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'navbar.more'|trans }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {% for category in allCategories.more %}
                                {% if ('category.' ~ category.slug) != active %}
                                    <li><a href="{{ path('rasen_ninegag_postcategory_view', {'slug': category.slug}) }}">{{ category.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

