{% trans_default_domain "RasenNineGagBundle" %}
<nav class="navbar navbar-default nav_col navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-left ">
                <!-- <li><a class="navbar-search-link" href="#"><span class="glyphicon glyphicon-search"></span></a></li> -->
                {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a data-remote="false" data-toggle="modal" href="#" data-target="#loginModal">{{ 'navbar.login'|trans }}</a></li>
                    <!--<li><a data-remote="false" data-toggle="modal" class="navbar-mgn" href="#" data-target="#registerModal" >{{ 'form.user.register'|trans }}</a></li>-->
                    <li><a href="{{ path('fos_user_registration_register') }}">{{ 'form.user.register'|trans }}</a></li>

                {% else %}
                    <li class="dropdown">
                        {% set user_image = ('/bundles/rasenninegag/images/empty_user.png' | imagine_filter('square_48')) %}
                        {% if vich_uploader_asset(app.user, 'profile_pics') is not null %}
                            {% set user_image = (vich_uploader_asset(app.user, 'profile_pics') | imagine_filter('square_48')) %}
                        {% endif %}
                        <button class="dropdown-toggle margin-profile-pic" data-toggle="dropdown"><img class="profile-img" src="{{ user_image }}"><span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{{ path('rasen_ninegag_user_profile', { username: app.user.username }) }}"><span>{{ app.user.username }}</span></a>
                            </li>
                            <li><a href="{{ path('rasen_ninegag_main_setting') }}"><span class="fa fa-cog"></span> {{ 'form.user.setting'|trans }}</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}"><span class="fa fa-power-off"></span> {{ 'form.user.logout'|trans }}</a></li>
                        </ul>
                    </li>

                    <li id="notificationDropdown" class="notifications-dropdown notification-mrg dropdown">
                        <a id="notificationDropdownBtn" href="#" class="dropdown-toggle"><span class="unread-no" {% if unreadNotificationCount == 0 %}style="display: none"{% endif %}>{% if unreadNotificationCount is defined %}{{ unreadNotificationCount }}{% endif %}</span><span class="glyphicon glyphicon-bell"></span></a>
                        <div class="notifications-container dropdown-arrow dropdown-menu" role="menu">
                            <div class="loading" style="display: none"><i class="ion-looping"></i></div>
                            <ul id="notificationList" class="notification-list" style="display: none"></ul>
                            <a class="btn btn-default btn-block btn-sm all-notification-btn" href="{{ path('rasen_ninegag_notification_all') }}">{{ 'notification.view_all'|trans }}</a>
                        </div>
                    </li>
                    {% endif %}
                {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a class="btn_pad btn btn-default" id="btnRegister" hreflang="#" data-remote="false" data-toggle="modal" data-target="#loginModal" href="{{ path('fos_user_security_login') }}">{{ 'navbar.upload'|trans }}</a></li>
                {% else %}
                    <li><a id="btnUpload" class="btn_pad btn btn-default" data-remote="false" data-toggle="modal" data-target="#uploadModal">{{ 'navbar.upload'|trans }}</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a data-ui-sref="home.list({filter:''})" data-ng-class="{'active': $state.includes('home') && $stateParams.filter == ''}"><i class="fa fa-home"></i> {{ 'navbar.home'|trans }}</a></li>
                {% set allCategories = view_helper.getAllCategoriesClassified() %}
                {% for category in allCategories.main %}
                    <li><a data-ui-sref="category.list({categorySlug: '{{ category.slug }}'})" data-ng-class="{'active': (category == '{{ category.slug }}')}">{{ category.name }}</a></li>
                {% endfor %}
                {% if allCategories.more is not empty %}
                    <li class="dropdown">
                        <button type="button" class="dropdown-toggle" data-toggle="dropdown">{{ 'navbar.more'|trans }} <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu">
                            {% for category in allCategories.more %}
                                <li><a data-ui-sref="category.list({categorySlug: '{{ category.slug }}'})" data-ng-class="{'active': (category == '{{ category.slug }}')}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
                <li class="navbar-item-nsfw"><a data-ui-sref="home.list({filter: 'nsfw'})" data-ng-class="{'active': $state.includes('home.list') && $stateParams.filter == 'nsfw'}">{{ 'navbar.nsfw'|trans }}</a></li>
            </ul>
        </div>
    </div>
</nav>

