{% set featuredPosts = view_helper.getFeaturedPosts() %}
{% if featuredPosts is not empty %}
    <div id="topFeatured" class="top-featured-posts featured-posts clearfix">
        <div class="top-featured-content">
            {% for post in featuredPosts %}
                {% if post is image %}
                    <div class="featured-post-item">
                        <a class="post-image-link" href="{{ post|post_url }}">
                            <img class="post-image" src="{{ post_image(post, 'feature_sq') }}"/>
                        </a>
                        {% if post.postTitle is not empty %}<div class="post-image-title"><a class="post-title-link" href=" {{ post|post_url }} ">{{ post.postTitle }}</a></div>{% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}