{% trans_default_domain "RasenNineGagBundle" %}
{% extends 'RasenNineGagBundle:Layout:fixed.html.twig' %}
{% block title %}{{ 'header.success' | trans({'%name%': userInformation.realName}, 'HWIOAuthBundle') }}{% endblock %}
{% block content %}
    <div class="form-box">
        <div class="form-box-header">
            <h3 class="form-box-heading"></h3>
        </div>
        <div class="form-box-container">
            <p>{{ 'header.success' | trans({'%name%': userInformation.realName}, 'HWIOAuthBundle') }}</p>
        </div>
    </div>
{% endblock content %}
