{% trans_default_domain "RasenNineGagBundle" %}
{% extends 'RasenNineGagBundle:Layout:fixed.html.twig' %}
{% block title %}{{ 'header.register' | trans({'%name%': userInformation.realName}, 'HWIOAuthBundle') }}{% endblock %}
{% block content %}
    <div class="form-box">
        <div class="row">
            <div class="col-md-12">
                <div class="form-box-header">
                    <h3 class="form-box-heading">{{ 'header.register' | trans({'%name%': userInformation.realName}, 'HWIOAuthBundle') }}</h3>
                </div>
                <div class="form-box-container">
                    <div class="col-md-12 connect-img">
                        {% if userInformation.profilePicture is not empty %}
                            <img src="{{ userInformation.profilePicture }}" />
                        {% endif %}
                    </div>
                    <div class="col-md-12">
                        <form action="{{ path('hwi_oauth_connect_registration', {'key': key}) }}" {{ form_enctype(form) }} method="POST" class="hwi_oauth_registration_register">
                            {{ form_widget(form) }}
                            <div>
                                <a href="{{ path('hwi_oauth_connect') }}" class="btn">{{ 'connect.registration.cancel' | trans({}, 'HWIOAuthBundle') }}</a>
                                <button type="submit" class="btn btn-primary">{{ 'connect.registration.submit'|trans({}, 'HWIOAuthBundle') }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
