{% trans_default_domain 'FOSUserBundle' %}
{% trans_default_domain "RasenNineGagBundle" %}

<div class="form-box">

    <div class="form-box-header">
        <h3 class="form-box-heading">{{ 'navbar.profile'|trans }}</h3>
    </div>
    <div class="form-box-container">
<div class="fos_user_user_show">
    <p>{{ 'form.user.name'|trans }}: {{ user.username }}</p>
    <p>{{ 'form.user.email'|trans }}: {{ user.email }}</p>
</div>
        </div>
    </div>
