{% trans_default_domain "RasenNineGagBundle" %}
{% set last_username="" %}
{% set last_username_var = constant('\\Symfony\\Component\\Security\\Core\\SecurityContext::LAST_USERNAME') %}
{% if app.request.session is not null and app.request.session.has(last_username_var)  %}{% set last_username = app.request.session.get(last_username_var) %} {% endif %}
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-login">
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'close'|trans }}</span></button>
                {% image '@RasenNineGagBundle/Resources/public/images/logo.png'
                output='images/logo.png' package="cdna" %}
                <img class="p-logo" alt="3paaye.com" src="{{ asset_url }}"/>
                {% endimage %}
                <span class="text-ctr">{{ 'navbar.login'|trans }}</span>
            </div>
            <form action="{{ path("fos_user_security_check") }}" method="post" role="form" class="submit-once">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-10 col-md-offset-1">
                                <a class="btn btn-block google-plus-icon" href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}">
                                    <i class="fa fa-google-plus"> </i>
                                    <span class="btn-social-login-logo">{{ 'login.google-plus'|trans }}</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-10 col-md-offset-1">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                                <div class="form-group mgn-tp">
                                    <label class="control-label form_lb" for="email">{{ 'form.user.email_username'|trans }}</label>
                                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'form.user.p_username'|trans }}">
                                </div>
                            </div>
                            <div class="col-md-10 col-md-offset-1">
                                <div  class="form-group ">
                                    <label class="control-label form_lb" for="password">{{ 'login.password'|trans }}</label><br />
                                    <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="{{ 'form.user.p_password'|trans }}">
                                </div>
                            </div>
                            <div class="col-md-10 col-md-offset-1">
                                <div class="form-group ">
                                    <label class="checkbox" for="remember_me">
                                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" checked />
                                        <span class="text-icheck">{{ 'login.remember_me'|trans }}</span>
                                    </label>
                                </div>
                                <a href="{{ path('fos_user_resetting_request') }}">{{ 'login.forgot_password'|trans }}</a>
                            </div>
                            <div class="col-md-10 col-md-offset-1">
                                <button type="submit" id="_submit" name="_submit" class="btn btn-primary mgn-btm-p btn-block has-spinner">{{ 'login.submit'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" modal-footer upload-photo-clf ">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group mgn-btm ">
                            <span>اکانت ندارید؟</span>
                            <a data-remote="false" data-toggle="modal" href="{{ path('fos_user_registration_register') }}" data-target="#registerModal" id="openRegisterModal"><span class="text-register">ثبت نام کنید</span></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>