{% trans_default_domain "RasenNineGagBundle" %}
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-register">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'close'|trans }}</span></button>
                {% image '@RasenNineGagBundle/Resources/public/images/logo.png'
                output='images/logo.png' package="cdna" %}
                <img class="p-logo" alt="3paaye.com" src="{{ asset_url }}"/>
                {% endimage %}
                <span class="text-ctr">{{ 'form.user.register'|trans }}</span>
            </div>
            {% set form = registration_form.createView() %}
            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register submit-once">
                <div class=" modal-body ">
                    <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                            <div class="form-group">
                                {{ form_label(form.email, 'form.user.email'|trans) }}
                                {{ form_widget(form.email) }}
                                {{ form_errors(form.email) }}
                            </div>
                                </div>
                            <div class="col-md-10 col-md-offset-1">
                            <div class="form-group">
                                {{ form_label(form.username, 'form.user.name'|trans) }}
                                {{ form_widget(form.username) }}
                                {{ form_errors(form.username) }}
                            </div>
                                </div>
                            <div class="col-md-10 col-md-offset-1">
                            <div class="form-group">
                                {{ form_label(form.plainPassword.first, 'form.user.password'|trans) }}
                                {{ form_widget(form.plainPassword.first) }}
                                {{ form_errors(form.plainPassword.first) }}
                            </div>
                                </div>
                            <div class="col-md-10 col-md-offset-1">
                            <div class="form-group">
                                {{ form_label(form.plainPassword.second, 'form.user.password_confirmation'|trans) }}
                                {{ form_widget(form.plainPassword.second) }}
                                {{ form_errors(form.plainPassword.second) }}
                            </div>

                                </div>
                        <div class="col-md-10 col-md-offset-1">
                            <button id="_submit" class="btn btn-primary btn-block has-spinner mgn-btm-p" type="submit">
                                <span class='btn-text'>{{ 'form.user.register'|trans }}</span>
                            </button>
                        </div>
                    </div>
                </div>
                {{ form_widget(form) }}

            </form>
        </div>
    </div>
</div>