<div class="card post-card">
    <div class="post-image-title">
        <a href="[[ ::ad.link ]]">[[ ::ad.title ]]</a>
    </div>
    <div class="post-image-container" data-ng-bind-html="ad.content">
    </div>
</div>