<div class="comment-replies-list">
    <div class="loading-box" data-ng-hide="!comment.replies.loading && !comment.replies.loadingError">
        <i class="ion-loading-c" data-ng-show="comment.replies.loading"></i>
        <span data-ng-show="!comment.replies.loading && comment.replies.comments.length == 0"></span>
        <div data-ng-show="!comment.replies.loading && comment.replies.loadingError">
            <p>مثل اینکه مشکلی پیش اومده</p>
            <button class="btn btn-default btn-sm" data-ng-click="comment.replies.loadComments()">دوباره تلاش کن!</button>
        </div>
    </div>
    <ul class="comments" data-ng-if="comment.replies.comments.length">
        <li class="load-more" data-ng-if="comment.replies.hasMore">
            <button type="button" class="btn btn-default btn-block btn-load" data-ng-click="comment.replies.loadMoreComments()" data-ng-disabled="comment.replies.loadingMore"><i class="ion-chatboxes"></i> نظرات قبلی...  </button>
        </li>
        <li class="comment-item-container" data-ng-repeat="reply in comment.replies.comments" data-reply-item="" data-comment="reply"></li>
    </ul>
    <form class="new-comment-form clearfix" data-ng-submit="postNewComment()" data-ng-if="isLoggedIn">
        <div class="author-info clearfix">
            <a href="[[ ::currentUser.href ]]" class="author-profile-img">
                <img class="author-profile-img" data-ng-src="[[ ::currentUser.imageUrl ]]" height="24" width="24" alt="[[ ::currentUser.fullName ]]"/>
            </a>
        </div>
        <div class="comment-input">
            <div class="input-group">
                <input required="required" maxlength="500" data-ng-disabled="!canComment" name="content" placeholder="[[ isLoggedIn ? 'اینجا بنویسید ...':'' ]]" class="new-comment-input form-control" type="text" data-ng-model="newComment.content"/>
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit" title="ارسال"  data-ng-disabled="!canComment || !newComment.content"><i class="fa fa-send"></i></button>
                </div>
            </div>
        </div>
    </form>
</div>