<div class="modal-header" data-ng-if="modalOptions.headerText">
    <button type="button" class="close" data-ng-click="$close(false)"><span aria-hidden="true">&times;</span><span class="sr-only">بسن</span></button>
    <p>[[ ::modalOptions.headerText ]]</p>
</div>
<div class="modal-body">
    <div class="upvotes-list-container clearfix" data-users-list="" data-users="modalOptions.users" data-small-follow="true"></div>
</div>