<videogular vg-player-ready="onPlayerReady" vg-theme="config.theme" vg-responsive="true">
    <vg-video vg-src="config.sources" vg-preload="'none'" vg-loop="true">
    </vg-video>
    <vg-overlay-play></vg-overlay-play>
    <vg-poster-image vg-url='config.plugins.poster'></vg-poster-image>
</videogular>