<div id="p[[ ::post.id ]]" class="card post-card" itemscope itemtype="http://schema.org/MediaObject" data-ng-class="{'reported': post.reported, 'hide-content': post.hidden, 'not-processed': !post.checkProcessed(), 'editable': editable}">
    <button class="btn btn-default btn-view-reported" data-ng-click="post.toggleHidden()" data-ng-if="post.hidden">نمایش</button>
    <div class="post-header clearfix">
        <div class="author-info" itemscope itemtype="http://schema.org/Person">
            <a href="[[ ::post.createdBy.href ]]" class="author-profile-img">
                <img class="author-profile-img" itemprop="image" height="48" width="48" data-ng-src="[[ ::post.createdBy.image_url ]]" alt="[[ ::post.createdBy.full_name ]]"/>
            </a>
            <div class="author-profile-name">
                <div class="author-name">
                    <span class="user-badges" data-ng-repeat="badge in post.createdBy._embedded.badges">
                        <img class="user-badge" width="24" height="24" data-ng-src="[[ ::badge.image_url ]]" data-tooltip="[[ ::badge.name ]]" data-tooltip-trigger="mouseenter" data-tooltip-append-to-body="true"  data-tooltip-placement="top" />
                    </span>
                    <a href="[[ ::post.createdBy.href ]]" itemprop="url">
                        <span itemprop="name">[[ ::post.createdBy.full_name ]]</span>
                    </a>
                </div>
                <div class="post-info">
                    <div class="approval-status-container" data-approve-status="" data-approved="post.approved" data-ng-if="post.own"></div>
                    <a href="[[ ::post.href ]]" class="post-timestamp" title="[[ ::post.createdTime | jalaliTimestamp ]]" data-time-ago="" data-from-time="[[ ::post.createdTime ]]">[[ ::post.createdTime | timeAgo ]]</a>
                    <div class="post-category"><span>در </span>
                        <select data-ng-options="category.name for category in categories track by category.slug" data-ng-model="post.editedCategory" data-ng-if="post.canEdit && editable" data-ng-disabled="post.updating"></select>
                        <a href="[[ post.category.href ]]" data-ng-hide="editable">[[ post.category.name ]]</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions clearfix">
            <div class="post-actions clearfix">
                <div class="more-actions" data-ng-hide="editable">
                    <button class="btn btn-default btn-more-actions dropdown-toggle" id="moreActionsMeun" data-toggle="dropdown">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <ul class="more-actions-dropdown dropdown-menu" role="menu" aria-labelledby="moreActionsMeun">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="[[::post.href]]" itemprop="url">
                                <i class="fa fa-link"></i><span class="menu-item-text">لینک به پست</span>
                            </a>
                        </li>
                        <li role="presentation" data-ng-if="post.canEdit">
                            <a role="menuitem" tabindex="-1" href="javascript:void(0);" data-ng-click="initEdit()">
                                <i class="fa fa-edit"></i><span class="menu-item-text">ویرایش</span>
                            </a>
                        </li>
                        <li role="presentation" class="divider" data-ng-if="(!post.own && isLoggedIn) || post.canDelete"></li>
                        <li role="presentation" data-ng-if="post.canDelete">
                            <a role="menuitem" tabindex="-1" href="javascript:void(0);" data-ng-click="post.remove()">
                                <i class="fa fa-remove"></i><span class="menu-item-text">حذف پست</span>
                            </a>
                        </li>
                        <li role="presentation" data-ng-if="!post.own && isLoggedIn">
                            <a role="menuitem" tabindex="-1" href="javascript:void(0);" data-ng-click="post.addReport()" data-ng-class="{'active':post.reported}">
                                <i class="fa fa-flag"></i><span class="menu-item-text"> گزارش پست نامناسب</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <a class="btn btn-default mobile-only post-dl-btn" href=";save;[[::post.shareMediaUrl]]" onclick="stop()" data-bs-tooltip="" data-toggle="tooltip" title="ذخیره" >
                    <span class="icon-s icon-dl-s"></span>
                </a>
                <a class="btn btn-default mobile-only post-share-btn" href=";share;[[::post.shareMediaUrl]]" onclick="stop()" data-bs-tooltip="" data-toggle="tooltip" title="اشتراک" >
                    <span class="icon-s icon-share-s"></span>
                </a>
                <button data-ng-if="post.canEdit && editable" class="btn btn-primary btn-sm ng-cloak" data-ng-click="saveEdit()" data-ng-disabled="post.updating" data-bs-tooltip="" data-toggle="tooltip" title="ثبت ویرایش" ><i class="fa fa-check"></i></button>
                <button data-ng-if="post.canEdit && editable" class="btn btn-default btn-sm ng-cloak" data-ng-click="cancelEdit()" data-ng-disabled="post.updating"><i class="fa fa-close"></i></button>
            </div>
        </div>
    </div>
    <div class="post-content-container">
        <div class="post-content post-image" data-ng-if="post.type == 'image'">
            <div class="post-image-title" data-ng-if="(post.canEdit && editable) || post.postTitle">
                <div data-txt-input="" data-ng-if="post.canEdit && editable" data-model="post.editedPostTitle" data-disabled="post.updating" data-submit="saveEdit()"></div>
                <a href="[[ ::post.href ]]" data-ng-hide="editable" itemprop="name">[[ post.postTitle ]]</a>
            </div>
            <div data-post-image="" data-post="post" class="post-image-container"></div>
        </div>
        <div class="post-content post-text" data-ng-if="post.type == 'text'">
            [[ post.content ]]
        </div>
    </div>
    <div class="actions-container ng-cloak">
        <div class="post-actions main-actions clearfix">
            <div class="pull-right post-info">
                <a data-ng-if="post.totalVotes > 0" data-bs-tooltip="" data-toggle="tooltip" title="امتیاز" href="javascript:void(0);" data-ng-click="post.showUpvotes()" class="total-votes"><span class="count">[[ post.totalVotes == 0 ? '0' : ((post.totalVotes > 0 ? '+' : '') + post.totalVotes) ]]</span><i class="fa fa-thumbs-o-up"></i></a>
                <span data-ng-if="post.totalVotes <= 0" data-bs-tooltip="" data-toggle="tooltip" title="امتیاز" class="total-votes"><span class="count">[[ post.totalVotes == 0 ? '0' : ((post.totalVotes > 0 ? '+' : '') + post.totalVotes) ]]</span><i class="fa fa-thumbs-o-up"></i></span>
                <span class="sep"></span>
                <a href="javascript:void(0);" data-bs-tooltip="" data-toggle="tooltip" title="نظرات" data-ng-click="post.commentsManager.toggleCommentsView()" class="comments-no"><span class="count" itemprop="commentCount">[[ post.commentsManager.totalFullCount ]]</span><i class="fa fa-comments-o"></i></a>
                <span class="sep"></span>
                <span class="views-no" data-bs-tooltip="" data-toggle="tooltip" title="بازدید"><span class="count">[[post.viewsNo]]</span><i class="fa fa-eye"></i></span>
                <span class="mobile-only">
                <span class="sep post-dl"></span>
                <a class="post-dl-btn" href=";save;[[::post.shareMediaUrl]]" onclick="stop()" data-bs-tooltip="" data-toggle="tooltip" title="ذخیره" >
                    <span class="count">[[::post.downloadsNo]]</span><i class="fa fa-download"></i>
                </a>
                <span class="sep post-share"></span>
                <a class="post-share-btn" href=";share;[[::post.shareMediaUrl]]" onclick="stop()" data-bs-tooltip="" data-toggle="tooltip" title="اشتراک" >
                    <span class="count">[[::post.sharesNo]]</span><i class="fa fa-share-alt-square"></i>
                </a>
                </span>
            </div>
            <div class="pull-left vote-actions" role="group">
                <button type="button" class="btn btn-default btn-meh" data-bs-tooltip="" data-toggle="tooltip" title="رای منفی"  data-ng-disabled="post.loading" data-ng-click="post.downVoteToggle()" data-ng-class="{'active':post.vote != null && !post.vote}">
                    <span class="icon-s icon-dislike-s"></span>
                </button>
                <button type="button" class="btn btn-default btn-smile" data-bs-tooltip="" data-toggle="tooltip" title="رای مثبت" data-ng-disabled="post.loading" data-ng-click="post.upVoteToggle()" data-ng-class="{'active':post.vote != null && post.vote}">
                    <span class="icon-s icon-like-s"></span>
                </button>
            </div>
        </div>
    </div>
    <div data-ng-if="!post.hidden && !post.commentsManager.hidden" class="comments-list-container" data-comments-list="" data-comments-manager="post.commentsManager" data-limit="3"></div>
</div>
