<div class="card post-card" data-ng-repeat="post in posts.data" data-ng-class="{'reported': post.reported, 'hide-content': post.hidden}">
    <button class="btn btn-default btn-view-reported" data-ng-show="post.hidden" data-ng-click="post.toggleHidden()" data-ng-if="post.hidden">نمایش</button>
    <div class="post-header clearfix">
        <div class="more-actions">
            <button class="btn brn-default btn-more-actions dropdown-toggle" id="moreActionsMeun" data-toggle="dropdown">
                <i class="fa fa-ellipsis-v"></i>
            </button>
            <ul class="more-actions-dropdown dropdown-menu" role="menu" aria-labelledby="moreActionsMeun">
                <li role="presentation">
                    <a href="mailto:?&amp;subject=عکس‌چی&amp;body=:)) [[post.href]]">
                        <i class="fa fa-envelope"><span class="mailto-text"> ارسال با ایمیل </span></i></a>

                </li>
                <li role="presentation" class="divider" data-ng-if="!post.own && isLoggedIn"></li>
                <li role="presentation" data-ng-if="!post.own && isLoggedIn">
                    <a role="menuitem" tabindex="-1" href="#" data-ng-click="post.addReport()" data-ng-class="{'active':post.reported}">
                        <i class="fa fa-flag"></i> گزارش پست نامناسب
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-8author-info">
            <a href="[[ post.createdBy.href ]]" class="author-profile-img">
                <img class="author-profile-img" data-ng-src="[[ post.createdBy.image_url ]]" alt="[[ post.createdBy.full_name ]]"/>
            </a>
            <div class="author-profile-name">
                <a href="[[ post.createdBy.href ]]" class="author-name">[[ post.createdBy.full_name ]]</a>
                <div class="post-info">
                    <a href="[[ post.href ]]" class="post-timestamp" title="[[ post.createdTime | jalaliTimestamp ]]">[[ post.createdTime | timeAgo ]]</a>
                    <div class="approval-status-container" data-approve-status="" data-approved="post.approved" data-ng-if="post.own"></div>
                </div>
            </div>
        </div>

        <div class=" text-left">
                    </div>
    <div class="post-content post-image" data-ng-if="post.type == 'image'">
        <div class="post-image-title"><a href="[[ post.href ]]">[[ post.postTitle ]]</a></div>
        <a href="[[ post.href ]]" class="post-image-content">
            <img class="post-image" data-ng-src="[[ post.image.url ]]"/>
        </a>
    </div>
    <div class="post-content post-text" data-ng-if="post.type == 'text'">
        [[ post.content ]]
    </div>
    <div class="actions-container">
        <div class="row icon-post">
        <div class="post-actions">
            <div class="col-md-6 btn-group" role="group">
            <button type="button" class="btn btn-default btn-meh btn-voted icon-post-border" data-ng-disabled="post.loading" data-ng-click="post.downVote()" data-ng-class="{'active':post.vote != null && !post.vote}">
                <span class="fa  fa-arrow-down fa-size"></span>
            </button>
            <button type="button" class="btn btn-default btn-voted icon-post-border">
                <span class="fa fa-comment fa-size"></span>
                <span class="badge badge-comments-no">[[ post.commentsNo ]]</span>
            </button>
            <button type="button" class="btn btn-default btn-smile btn-voted icon-post-border" data-ng-disabled="post.loading" data-ng-click="post.upVote()" data-ng-class="{'active':post.vote != null && post.vote}">
                <span class="fa fa-arrow-up fa-size"></span>
            </button>
                </div>
            <div class="col-md-6 txt-margin text-muted">
                <span class="action-list">امتیاز</span>
                <span class="label label-warning">{{ post.totalVotes }}</span>
                <span>**</span>
                <span class="action-list">نظر تایید شده</span>
                <span class="label label-primary">{{ post.approvedCommentsNo }}</span>
            </div>
        </div>
        </div>
    </div>
    <div class="comments-list-container" data-comments-list="" data-post="post"></div>
</div>