<div class="user-list ajax col-md-12" data-ng-class="{'loaded': users.loaded}" data-infinite-scroll="users.load()" data-infinite-scroll-disabled="!users.hasMore || users.loading || users.loadingError" data-infinite-scroll-distance="1">
    <div class="user-list-item clearfix" data-ng-repeat="user in users.items">
        <div class="user-info">
            <a class="user-profile-image-link" data-ng-href="[[ ::user.href ]]">
                <img class="user-profile-image" data-ng-src="[[ ::user.imageUrl ]]" alt="[[ ::user.fullName ]]"/>
            </a>
            <a class="user-profile-link" data-ng-href="[[ ::user.href ]]">[[ ::user.fullName ]] <span class="username">(@[[ ::user.id ]])</span></a>
        </div>
        <div class="btn-follow-container" data-follow-button="" data-user="user" data-small="smallFollow"></div>
    </div>
</div>
<button class="btn btn-default btn-block btn-load-more" data-ng-if="users.loaded && users.hasMore && !users.loading" data-ng-click="users.load()">بیشتر ...</button>
<div class="loading-box card" data-ng-hide="!users.loading && !users.loadingError && users.items.length > 0">
    <i class="ion-loading-c" data-ng-show="users.loading"></i>
    <span data-ng-show="!users.loadingError && !users.loading && users.items.length == 0">چیزی پیدا نشد! :(</span>
    <div data-ng-show="users.loadingError && !users.loading">
        <p>مثل اینکه مشکلی پیش اومده</p>
        <button class="btn btn-default btn-sm" data-ng-click="users.load()">دوباره تلاش کن!</button>
    </div>
</div>