@font-face {
    font-family: "Yekan";
    src: url("../fonts/yekan.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Rasen";
    src: url("../fonts/Rasen.eot");
    src: url("../fonts/Rasen.woff") format("woff"),
    url("../fonts/Rasen.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Rasen";
    src: url("../fonts/Rasen_bold.eot");
    src: url("../fonts/Rasen_bold.woff") format("woff"),
    url("../fonts/Rasen_bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
html, body {
    font-family: "yekan", "tahoma", sans-serif;
    font-size: 16px;
    background-color: #f6f6f6;
    word-break: normal;

}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Yekan", "tahoma", sans-serif;
}
html {
    height: 100%;
    width: 100%;
    position: relative;
    min-height: 100%;
}

body {
    word-break: normal;
    height: 100%;
    width: 100%;
    min-height: 100%;
    padding-bottom: 52px;
}

body.login {
    word-break: normal;
    background-color: #f0f0f0;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.list-unstyled {
    padding-right: 0;
}
.navbar-fixed-top {
    border-width: 0;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: -1px;
    margin-left: 0;
}
#welcome h3, #welcome h4 {
    text-align: center;
}

.form-box-container {
    height: 100%;
    width: 100%;
}

.form-box {
    background-color: #ffffff;
    max-width: 460px;
    margin: 80px auto;
    box-shadow: 0 10px 10px -10px #333;
    padding: 20px;
    border: 1px solid #e3e3e3;
}

.form-box .connect-img{
    text-align: center;
    margin-bottom: 20px;
}

.form-box .connect-img img{
    height: 128px;
    width: 128px;
}

.form-box.no-container {
    margin: 70px auto;
}

.form-box .form-box-heading {
    font-family: "Yekan", "tahoma", sans-serif;
    text-align: right;
}

.form-box h3.form-box-heading {
    font-size: 23px;
    margin-bottom: 25px;
    text-align: center;
}

.form-box-header {
    margin-bottom: 30px;
    color: #000000;
}

.checkbox input[type="checkbox"] {
    margin-right: -19px;
    margin-left: 3px;
    float: right;
    margin-top: 1px;

}

.form-box .checkbox, .text-icheck {
    font-family: "Yekan", "tahoma", sans-serif;
    text-align: right;
    font-weight: normal;
    margin-right: 5px !important;
    font-size: 14px !important;
}

.form-box .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-box .form-control:focus {
    z-index: 2;
}

.form-box input[type="text"] {
    text-align: right;
    border-radius: 3px;
    padding: 7px;
}
.form-box input[type="email"] {
    text-align: right;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 7px;
}
.form-box input[type="password"] {
    text-align: right;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 7px;
}

.form_lb {
    word-spacing: -1px;
    color: #404040;
    font-weight: normal !important;
}

.form-show {
    visibility: visible;
}

.spinner {
    opacity: 0;
    display: none;
}

.has-spinner {
    box-shadow: 0 1px 0 rgba(0, 0, 0, .05);
    background-color: #0087F7;
    color: #fff;
    border-radius: 3px;
}

.a{
    color: #0087F7 !important;
}
.has-spinner.active {
    cursor: progress;
}

.has-spinner.active .spinner {
    opacity: 1;
    display: inline-block;
    width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.active .btn-text {
    opacity: 0;
    display: none;
    width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spin {
    box-shadow: 0 1px 0 rgba(0, 0, 0, .05);
    border-radius: 3px;
}


.has-spin.active {
    cursor: progress;
}

.has-spin.active .spinner {
    opacity: 1;
    display: inline-block;
    width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spin.active .btn-text {
    opacity: 0;
    display: none;
    width: auto; /* This doesn't work, just fix for unkown width elements */
}




#userpass input[type=text] {
    direction: ltr;
}
.h_txt{
    margin-bottom: 18px;
    line-height: 1.6em;
    color: #999;
    font-size: 10px;
    margin-top: 21px;
}

.nav_col{
    background-color: #414141 !important;
    border-color: transparent;
    border-bottom: 1px solid #202020;
}
#btnUpload, .btn.btn-default.btn_post{
    background-color: #FF2424;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    padding: 0 12px;
    border-radius: 3px;
    font-size: 15px;
}
.btn_pad{
    margin-top: 9px;
    background-color: #FF2424;
    color: #ffffff;
    text-align: center;
    border: none;
    line-height: 30px;
    padding: 0 12px;
    border-radius: 3px;
    font-size: 15px;
}
.btn-social-login-logo{
    padding-right: 3em;
}
.btn.google-plus-icon{
    background-color: #dd4b39;
    color: #fff;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    padding: 10px;
    border: none;
}
.btn.google-plus-icon .fa-google-plus{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.4em;
    padding: 0.58em 1em;
    background-color: rgba(0, 0, 0, 0.13);
    background-color: #BF4131;
}
.facebook-icon i{
    color: #0087F7;
}
.btn.facebook-icon{
    background-color: #0087F7;
    color: #fff ;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .05);
    border-radius: 3px;
    border: none !important;
}
.m_box{
    margin: 57px;
    padding: 20px;
}
.dropdown-menu{
    text-align: right !important;
}
.container.main-container, .container-fluid.main-container {
    padding-top: 0px;
}

.tab_box{
    padding: 9px;
}
.textarea_ajax{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    font-family: "Yekan", "tahoma", sans-serif;
    height: 100px;
    border: 2px solid #eee;
    border-radius: 10px 0;

}
.textarea_s{
    padding: 10px;
    width: 100%;
    font-size: 15px;
    font-family: "Yekan", "tahoma", sans-serif;
    height: 100px;
    border: 2px solid #eee;
    border-radius: 10px 0;

}
.p_ajax{
    font-size: 11px;
    text-align: justify;
}
.p-title{
    border-bottom: dashed 1px #eee;
    padding: 5px;
    color: #1800B8;
}
.top_ajax_form{
    padding: 10px 0px;
    border-top: 1px dashed #eee;
}

._content{
    background: white;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    padding: 20px 30px;
    box-sizing: border-box;
}
.m_b{
    margin-bottom: 40px !important;
}

.top-tabs{
    background: white;
    border: 1px solid #e3e3e3;
    border-top: 0;
    box-sizing: border-box;
}
.top-space{
    margin-top: 0px;

}
.bottom-space{
    margin-bottom: 40px;
    border-bottom: 2px dashed #eee;
    padding-bottom: 23px;
}
.nav-pills>li>a{
    border-radius: 0 !important;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background-color: transparent;
    color: #333;
    box-shadow: 0 -4px 0 0 #0087F7 inset;
}
.form-control{
    border-radius: 0 !important;
}
.navbar-default .navbar-nav > li > a{
    color:#E0E0E0 ;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    border-bottom: 4px solid #333;
    background-color: transparent;
    color: #fff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    background-color: #303030;
    color: #fff;
}
.form-control:focus {
    border-color: #303f9f !important;
}
._margin{
    margin-top: -5px;
}
.C_row{

    margin-right: 0 !important;
    margin-left: 0 !important;
}
.txt-margin{
    margin-top: 15px;
    font-size: 14px !important;
    text-align: left;
}
.dropdown-menu > li > a{
    padding: 10px !important;
}
.fa.pull-right {
    padding: 3px;
}
.checkbox_lbl{
    font-size: 13px !important;
    font-weight: normal !important ;
}
.profile-header{
    background-color: #000000;
    padding-top: 55px;
    color: #ffffff;
    margin-top: -20px;
    overflow: hidden;
}
.overlay-gradient {
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.2)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
}

.nav.nav-pills > li > a:hover, .nav.nav-pills > li > a:focus{
    background-color: transparent;

}
.c_4{
    margin-right: 15px;
}
.m_t{
    margin-top: 20px;
}
.nav.profile-tabs > li > a:hover, .nav.profile-tabs > li > a:focus {
    background-color: transparent;
    transition: all .12s ease-in-out;
    box-shadow: 0 -4px 0 0 #0087F7 inset;
}
.profile-img{
    border-radius: 4px;
    height: 30px;
    width: 30px;
    float: right;
}
.navbar-nav .prf-img a {
    padding-top: 10px ;
    padding-bottom: 10px;
}
.profile-pic-nav{
    margin-left: -20px !important;
}
.icon-size{
    font-size: 12px !important;
}
.navbar-nav .prf-img .caret {
    margin-right: 8px;
}
.cover-ctr{
    text-align: center;
    margin-bottom: 55px;
}
.profile-pic{
    background: #fff;
    border: 5px solid #fff;
    border-radius: 12px;
    box-shadow: 0 1px 1px rgba(136,153,166,0.15);
    position: relative;
    height: 200px;
    width: 200px;
}
.btn-vote{
    margin-top: 6px;
}
.text-margin{
    margin-bottom: 10px;
    padding: 3px;
    text-align: justify;
}
.padding-btn{
    padding: 12px !important;
    border-radius: 0px !important;
}
.change_password{
    text-decoration: none !important;
}
.change_password_text{
    margin-right: 7px;
}

.notification-list .notification-item {
    border-left: none;
    border-right: none;
    background-color: transparent;
    overflow: auto;
}
.has-transition {
    -webkit-transition: all 300ms ease-in-out 0;
    -moz-transition: all 300ms ease-in-out 0;
    -o-transition: all 300ms ease-in-out 0;
    transition: all 300ms ease-in-out 0;
}
.notification-list .notification-new .notification-item:first-child {
    border-top: none;
}

.notification-list > .notification-item:first-child {
    border-top: none;
}
.notification-list .notification-item:last-child {
    border-bottom: none;
}
.all-notifications.notification-list .notification-item .notification-image {
    float: right;
    padding: 5px;
    text-align: center;
    line-height: 50px;
}
.all-notifications.notification-list .notification-item .notification-content {
    float: right;
    padding-top: 13px;
    margin-right: 15px;
}
.notification-list .notification-item .notification-content .notification-icon {
    float: right;
    padding-left: 7px;
    color: #999;
}
.notification-list .notification-item .notification-timestamp {
    font-size: 0.8em;
    color: #999;
}
.notification-list .notification-item.new {
    background-color: #d3e6ff;
}
.notifications-dropdown {
    margin-left: 10px;
}
.notifications-dropdown .empty-msg {
    height: 180px;
    text-align: center;
    padding: 60px 50px;
    font-size: 2em;
    color: #D7D7D7;
    text-shadow: -1px -1px #B3B3B3;
}
.navbar-left .dropdown-menu {
    left: 0;
    right: auto;
}
.navbar-nav > li > .dropdown-arrow.dropdown-menu {
    margin: 10px 0;
    width: 350px;
    left: -45px;
    padding: 10px 0;
}
.navbar-nav > li.notice-dropdown > .dropdown-arrow.dropdown-menu {
    padding: 15px;
    white-space: normal;
}
.navbar-nav > li.notice-dropdown > .dropdown-arrow.dropdown-menu h1 {
    font-size: 1.5em;
}
.navbar-nav > li.notice-dropdown > .dropdown-arrow.dropdown-menu .image-container {
    text-align: center;
}
.dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid rgba(0, 0, 0, .15);
    background-color: #fff;
    box-shadow: 0 10px 10px -10px #333;
}
.notifications-container.dropdown-menu:after {
    left: 61px;
}
.notifications-container.dropdown-menu:before {
    left: 60px;
}
.dropdown-arrow.dropdown-menu:after {
    content: "";
    display: block;
    position: absolute;
    top: -10px;
    left: 61px;
    width: 0;
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: #fff transparent;
}
.dropdown-arrow.dropdown-menu:before {
    content: "";
    display: block;
    position: absolute;
    top: -11px;
    left: 60px;
    width: 0;
    border-width: 0 11px 11px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .15) transparent;
}
.notifications-container {
    padding: 10px;
}
.notifications-dropdown .notification-list {
    padding: 0;
    overflow: hidden;
    position: relative;
    height: 400px;
    margin-bottom: 19px;
}
.notifications-dropdown .all-notification-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    border-radius: 0;
    border-color: #e3e3e3;
}
.notifications-dropdown .all-notification-btn:hover {
    background-color: #f0f0f0;
}
.notifications-dropdown .list-group-item {
    padding: 0 10px;
    border-color: #efefef;
}
.notifications-dropdown .list-group-item:first-child {
    border-radius: 0;
    border-bottom-color: transparent;
}

.notifications-dropdown .notification-list .notification-item .notification-image {
    position: absolute;
    top: 0;
    bottom: 0;
    line-height: 68px;
    width: 50px;
    text-align: center;
    color: #fff;
}
.notifications-dropdown .notification-list .notification-item .notification-image i {
    margin-top: -18px;
    top: 50%;
    left: 0;
    margin-left: 5px;
    position: absolute;
    font-size: 1.4em;
    color: #fff;
    text-shadow: 0 0 1px #333;
}
.notifications-dropdown .notification-list .notification-item .notification-image img {
    top: 50%;
    left: 0;
    margin-top: -24px;
    position: absolute;
    height: 48px;
    width: 48px;
}
.notification-item  {
    cursor: pointer;
}
a.notification-item  {
    display: block;
}
.notification-item:hover, .notification-item:focus  {
    background-color: #f7f7f7;
}
.all-notifications.notification-list > .notification-item:hover, .all-notifications.notification-list > .notification-item:focus  {
    background-color: #f0f0f0;
}
.notification-item .notification-content a {
    z-index: 10;
}
.notifications-dropdown .notification-list .notification-item .notification-content {
    margin-right: 60px;
    padding: 10px 0;
    display: block;
    white-space: normal;
}
.notifications-dropdown .loading {
    height: 400px;
    font-size: 4em;
    text-align: center;
    line-height: 400px;
    color: #C3C3C3;
}
.ps-scrollbar-y-rail, .ps-scrollbar-x-rail {
    z-index: 99;
}
.ion-spin, .ion-loading-a, .ion-loading-b, .ion-loading-c, .ion-loading-d, .ion-looping, .ion-refreshing, .ion-ios7-reloading {
    -webkit-animation: spin 0.7s infinite linear;
    -moz-animation: spin 0.7s infinite linear;
    -o-animation: spin 0.7s infinite linear;
    animation: spin 0.7s infinite linear;
}
.unread-no {
    font-size: 0.7em;
    position: absolute;
    z-index: 9999;
    top: 9px;
    left: 4px;
    background-color: #FF2424;
    color: #fff;
    border-radius: 1.7em;
    padding-right: 4px;
    padding-left: 4px;
    line-height: 1.4;
    height: 16px;
    text-align: center;
}
.notifications-dropdown .dropdown-toggle {
    padding: 13px 13px 13px 13px;
}
.notifications-dropdown .notification-image .glyphicon ,.notifications-dropdown .notification-image .fa {
    font-size: 1.4em;
    line-height: 1.85;
}
.navbar-nav > li > a.navbar-search-link {
    padding-bottom: 12px;
}
.navbar-nav > li > a.navbar-search-link .glyphicon{
    line-height: 1.3;
}
.card {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    box-shadow: 0 4px 4px -5px #434343;
    padding: 5px;
}
.card.post-card {
    min-height: 100px;
    padding: 10px;
    position: relative;
}
.post-item .card.post-card {
    padding-bottom: 0;
}
.card.ad-card {
    min-height: 100px;
    padding: 10px;
    position: relative;
}
.post-card.big {
    width: 100%;
    max-width: 100%;
}
.card.post-card .post-content-container {
    margin: 0 -5px;
}
.card.post-card .post-header .author-info {
    float: right;
}
.card.post-card .post-header .author-info .author-profile-name {
    margin-right: 55px;
    padding: 3px;
    white-space: nowrap;
}
.card.post-card .post-header .author-info .author-profile-name a.author-name {
    display: block;
}
.card.post-card .post-header .post-category {
    font-size: 0.9em;
    color: #4F4F4F;
    float: right;
    margin-right: 5px;
    margin-top: -3px;
    white-space: nowrap;
}
.card.post-card.editable .post-header .post-category {
    margin-top: -5px;
}
.card.post-card .post-header .post-category a{
    color: #4F4F4F;
}
.card.post-card .post-header .author-info .author-profile-name a.post-timestamp {
    font-size: 0.9em;
    color: #4F4F4F;
    margin-top: -3px;
}
.card.post-card .post-header .author-info .author-profile-name .post-info a.post-timestamp {
    float: right;
}
.card.post-card .post-header .author-info .author-profile-name .post-info .approval-status-container {
    float: right;
    display: block;
    margin-left: 5px;
    margin-top: -1px;
}
.card.post-card .post-header .more-actions {
    float: left;
    position: relative;
    margin-right: 0;
}
.card.post-card .post-header .actions .fb-share-container{
    float: left;
    position: relative;
}
.actions-container .post-actions .post-info, .actions-container .post-actions .post-info a {
    color: #4F4F4F;
    direction: rtl;
    text-decoration: none;
}
.actions-container .post-actions .post-info a:hover {
    color: #008cff;
    text-decoration: none;
}
.actions-container .post-actions .post-info .count {
    display: inline-block;
    direction: ltr;
    text-decoration: inherit;
    padding-left: 3px;
}
.actions-container .post-actions .post-info {
    padding: 13px;
    text-align: right;
    direction: rtl;
    font-size: 0.9em;
    cursor: default;
}
.post-header .post-info {
    cursor: default;
    margin-top: 4px;
}
.actions-container .post-actions .post-info .sep {
    padding: 0 10px;
    color: #ccc;
}
.actions-container .post-actions .post-info .btn-comment .comments-no {
    font-size: 14px;
}
.card.post-card .post-header .more-actions .btn-more-actions:hover, .card.post-card .post-header .more-actions .btn-more-actions:focus,
.card.post-card .post-header .more-actions .btn-more-actions:active {
    outline: none;
    box-shadow: none;
}
.card.post-card .post-header .more-actions .btn-more-actions {
    font-size: 1.5em;
    height: 34px;
    background-color: #fff;
    width: 39px;
    line-height: 1.65em;
    padding: 0 5px;
    text-align: center;
}
.card.post-card .post-header .more-actions ul.dropdown-menu.more-actions-dropdown {
    right: 0;
    top: 0;
    margin-top: -1px;
}
.card.post-card .post-header .more-actions ul.dropdown-arrow.dropdown-menu.more-actions-dropdown {
    right: -30px;
}
.card.post-card .post-header .more-actions ul.dropdown-arrow.dropdown-menu.more-actions-dropdown:before {
    right: 33px;
}
.card.post-card .post-header .more-actions ul.dropdown-arrow.dropdown-menu.more-actions-dropdown:after {
    right: 34px;
}
.post-item .card.post-card .post-header {
    padding-bottom: 10px;
}
.more-actions-dropdown a i {
    width: 20px;
    text-align: center;
}
.actions-container .post-actions .btn-comment.active, .actions-container .post-actions .btn-comment.active:hover {
    color: #333;
}
.card.post-card.hide-content {
    box-shadow: none;
    min-height: 0;
    opacity: 0.5;
    padding-top: 5px;
    padding-bottom: 5px;
}
.approval-status.approved {
    color: #C0E4B9;
}
.approval-status.not-approved {
    color: #F5B6B6;
}
.approval-status.pending {
    color: #cccccc;
}
.posts-list .post-card, .posts-list .ad-card {
    margin-bottom: 20px;
}
img.post-image, img.ad-image, .post-image-container img {
    width: 100%;
    height: auto;
}
.post-image-content {
    display: block;
    position: relative;
    overflow: hidden;
}
.post-text {
    padding: 30px;
    font-size: 1.5em;
}
.card.post-card.hide-content .post-text {
    font-size: 1em;
    padding: 5px;
    display: none;
}
.card.post-card.hide-content .post-image {
    display: none;
}
.card.post-card .post-image .animation-play-overlay {
    position: absolute;
    top: 50%;
    margin-left: -35px;
    text-align: center;
    width: 100%;
    margin-top: -50px;
    z-index: 8;
}
.card.post-card .post-content-container {
    position: relative;
    overflow: hidden;
}
.card.post-card .post-content-container .icon-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    font-size: 160px;
    z-index: 2;
    color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.card.post-card .post-content-container .icon-overlay .icon-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}
.icon-overlay.upvote-big-icon {
    opacity: 0;
    visibility: hidden;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 300ms ease-in-out 0;
    -moz-transition: all 300ms ease-in-out 0;
    -o-transition: all 300ms ease-in-out 0;
    transition: all 300ms ease-in-out 0;
}
.icon-overlay.upvote-big-icon.pop {
    visibility: visible;
    -webkit-animation: upvote 500ms linear 0s 1 normal;
    -webkit-animation-fill-mode: forwards;
    animation: upvote 500ms linear 0s 1 normal;
    animation-fill-mode: forwards;
}
@-webkit-keyframes upvote {
    0% {
        margin-top: 0;
        opacity: 0;
    }
    50% {
        margin-top: -50px;
        opacity: 0.7;
    }
    100% {
        margin-top: -100px;
        opacity: 0;
    }
}
@keyframes upvote {
    0% {
        margin-top: 0;
        opacity: 0;
    }
    50% {
        margin-top: -50px;
        opacity: 0.7;
    }
    100% {
        margin-top: -100px;
        opacity: 0;
    }
}
.card.post-card .post-content-container .post-image-content {
    position: relative;
}
.card.post-card .post-image .animation-play-overlay .play {
    width: 105px;
    height: 105px;
    font-size: 70px;
    margin: 0 auto;
    border-radius: 60px;
    background-color: #000;
    border: 5px solid #fff;
    padding: 6px 7px 7px 19px;
    opacity: 0.5;
    color: #fff;
}
.card.post-card.hide-content:before {
    content: "این پست توسط شما نامناسب گزارش شده است.";
    font-size: 0.9em;
    padding: 10px;
}
.btn.btn-default.btn-view-reported {
    float: left;
    border: 0;
    padding: 0 10px;
}
.post-image-title {
    padding: 15px;
    margin: 0;
    font-size: 20px;
    white-space: normal;
}
.post-image-title a {
    color: #333;
}
.actions-container {
    padding: 5px 0;
    overflow: hidden;
}
.card.post-card .post-header .author-profile-img {
    width: 48px;
    height: 48px;
}
.card.post-card .post-header a.author-profile-img {
    float: right;
}
.card.post-card.hide-content .actions-container {
     display: none;
}
.card.post-card.hide-content .post-header {
     display: none;
}
.post-actions {
    direction: rtl;
}
.social-actions {
    direction: ltr;
}
.post-actions .btn {
    border-radius: 3px;
    font-size: 1em;
    direction: rtl;
    width: 39px;
    height: 34px;
    padding: 4px;
}
.post-actions.main-actions .btn {
    width: 48px;
    height: 38px;
}
.post-actions .btn.btn-default {
    border: 1px solid #ddd;
    color: #999;
}
.post-actions .vote-actions {
    text-align: left;
    direction: ltr;
    padding: 3px;
}
.post-actions .vote-actions .btn {
    position: relative;
}
.post-actions .vote-actions .btn-smile {
    color: #4F4F4F;
    width: 64px;
    text-align: center;
}
.post-actions .vote-actions .btn-meh {
    color: #999;
    width: 40px;
    text-align: center;
}
.post-actions .vote-actions .btn-smile .icon,
.post-actions .vote-actions .btn-meh .icon {
    opacity: 0.8;
}
.post-actions .vote-actions .btn.btn-default.btn-meh:hover {
    color: #4F4F4F;
}
.post-actions .btn-default.active, .comment-actions .btn-default.active {
    box-shadow: none;
    background-color: #fff;
    background-color: transparent;
}
.post-actions .btn.btn-default:hover {
    color: #333;
    background-color: #f0f0f0;
}
.top-post{
    margin-top: 67px;
}
.post-actions .btn.btn-smile.active {
    color: #516AA9;
    border: 2px solid #516AA9;
    padding: 3px;
    /*background-color: #D4D9E3;*/
}
.post-actions .btn.btn-meh.active {
    color: #AA2C35;
    border: 2px solid #AA2C35;
    padding: 3px;
    /*background-color: #E9DCDE;*/
}
.post-actions .btn.btn-smile[disabled].active {
    color: #9EACCF;
    border: 1px solid #9EACCF;
    padding: 4px;
}
.post-actions .btn.btn-meh[disabled].active {
    color: #DAA5A9;
    border: 1px solid #DAA5A9;
    padding: 4px;
}
.post-actions .btn.btn-smile.active .icon, .post-actions .btn.btn-meh.active {
    opacity: 1;
}
.floating-actions {
    position: absolute;
    opacity: 0;
}
.card.post-card.hide-content .floating-actions {
    display: none;
}
.floating-actions.float-left {
    left: 5px;
    top: 5px;
}
.floating-actions.float-right {
    right: 15px;
    bottom: 65px;
}
.floating-actions.social-actions .btn {
    border-radius: 0;
    opacity: 0.4;
}
.floating-actions.social-actions .btn:hover {
    opacity: 1;
    color: #fff;
}
.floating-actions .btn.btn-report {
    border: 0;
    background: rgba(0, 0, 0, 0.15);
    color: #333;
    border-radius: 0;
    opacity: 0.8;
}
.floating-actions .btn.btn-report:hover {
    background: rgba(0, 0, 0, 0.35);
    opacity: 1;
}
.post-card:hover .floating-actions {
    opacity: 1;
}
.main {
    margin: 20px 0;
}
.posts-list .main {
    margin: 0 auto;
}
.posts-list .main .main-content {
    padding-right: 0;
}
.main-content > div > i.ion-loading-c {
    padding: 0 15px;
}
.section-header {
    color: #1B1A1A;
    background-color: #fff;
    box-shadow: 0 2px 1px -1px #E6E6E6;
    border-bottom: 2px solid #e3e3e3;
    border-radius: 3px;
    margin: -20px auto 10px auto;
}
.section-header a {
    color: #1B1A1A;
}
.featured-posts {
    display: block;
}
.section-header a:hover {
    color: #414141;
    text-decoration: none;
}
.main-sidebar {

}
.main-sidebar-container {
    padding-left:0;
    float: left;
    max-width: 350px;
}
.footer {
    position: relative;
    width: 100%;
    clear: both;
    margin-bottom: -50px;
    height: 52px;
    background-color: #f5f5f5;
    padding: 10px;
}
.footer .container-fluid {
    padding-right: 50px;
    padding-left: 50px;
}
.main-wrapper {
    min-height: 100%;
    padding-bottom:50px;
    padding-top: 70px;
}
.main-wrapper .main-container {
    /*overflow:auto;*/
}
.empty-box {
    margin: 0 auto;
    text-align: center;
    padding: 60px;
}
.empty-box.card {

}
.posts-list-container .empty-box {
    padding: 60px 5px;
}
.posts-list .main.ajax {
    display: none;
}
.posts-list .main.ajax.loaded {
    display: block;
}
.loading-box {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 2em;
    color: #C3C3C3;
    overflow: hidden;
}
.loading-box.load-more {
    box-shadow: none;
    border: none;
    background-color: inherit;
    padding: 0;
}
.loading-box.load-more .btn {
    border-radius: 0;
}
.comments-list .loading-box {
    font-size: 1em;
    padding: 10px 0;
    max-width: 100%;
}
.tabs-container.card {
    border-radius: 0;
    margin-bottom: 10px;
    box-shadow: none;
}
.nav .btn-follow {
    margin-top: 16px;
    padding: 7px 15px;
    margin-bottom: 10px;
}
.profile-tabs p {
    margin: 0;
    color: #0087F7;
}
.profile-tabs li {
    text-align: center;
}
.profile-tabs .counter-label {
    margin-bottom: 5px;
    font-size: 0.8em;
    color: #333;
    white-space: nowrap;
}
.profile-tabs .profile-header-link {
    padding-top: 21px;
    padding-bottom: 22px;
}
.user-list .user-list-item .user-profile-link {
    padding: 15px;
}
.user-list .user-list-item img.user-profile-image {
    height: 64px;
    width: 64px;
    border-radius: 2px;
}
.user-list .user-list-item .user-info {
    float: right;
}
.user-list .user-list-item .btn-follow-container {
    float: left;
    margin-top: 15px;
}
.user-list.ajax {
    display: none;
}
.user-list.ajax.loaded {
    display: block;
}
.user-list {
    background: #fff;
    padding: 15px;
    border: 1px solid #e3e3e3;
}
.user-list .user-list-item {
    padding: 15px;
    border-bottom: 1px solid #e3e3e3;
}
.user-list .user-list-item:last-child {
    border-bottom: none;
}

/** Dummy content put after text to fix the rtl parentheses problem */
.user-list .user-list-item .user-profile-link:after {
    content: "a";
    visibility: hidden;
    font-size: 0;
    width: 0;
    height: 0;
}
.user-list .user-list-item .user-profile-link .username {
    font-family: sans-serif;
    color: #9c9c9c;
    font-size: 0.9em;
}
.user-list .user-list-item a {
    color: #333;
}
.user-list .user-list-item a:hover {
    text-decoration: none;
    color: #0087F7;
}
.user-list .user-list-item:hover {
    background-color: #f0f0f0;
}
.featured-post-item {
    position: relative;
    margin-bottom: 10px;
    border: 1px solid #e3e3e3;
    background-color: #fff;
}
.featured-post-item:hover {
    border-color: #898989;
}
.featured-post-item .post-image-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    z-index: 99;
    background-color: #fff;
}
.featured-post-item .post-image-title a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding: 7px 4px;
    direction: rtl;
}
.featured-post-item .post-image-link {
    height: 150px;
    overflow: hidden;
    display: block;
}
.featured-post-item img.post-image {
}

.featured-posts .featured-post-item .overlay-gradient {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 98;
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 66%, rgba(0,0,0,0.5) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(66%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.5)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 66%, rgba(0,0,0,0.5) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 66%, rgba(0,0,0,0.5) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 66%, rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 66%, rgba(0,0,0,0.5) 100%);
}
.post-card .comments-list {
    padding: 10px;
    border-top: 1px solid #e3e3e3;
}
ul.comments {
    list-style: none;
    margin: 0;
    padding: 0;
}
.comments-list .divider {
    margin: 8px 0;
    border-bottom: 1px solid #e3e3e3
}
li.comment-item-container {
    /*border-bottom: 1px dashed #e3e3e3;*/
    padding: 5px;
}
.comments-list-container {
    background-color: #f9f9f9;
    margin: 0 -10px;
    box-shadow: 0 5px 10px -10px #333 inset;
}

li.comment-item-container:last-child {
    border-bottom: none;
}
.comments-list .comment-item .author-info a.author-profile-img {
    float: right;
}
.comments-list .btn.btn-load {
    border: none;
    background-color: #F7F7F7;
    border-radius: 0;
    text-align: right;
    outline: none;
    padding-right: 10px;
    color: #0087F7;
    box-shadow: none;
}
.comments-list .load-more .btn.btn-load {
    padding: 10px;
}
.comments-list .btn.btn-load:hover {
    background-color: #F7F7F7;
    text-decoration: underline;
}
.comments-list .btn.btn-load:active, .comments-list .btn.btn-load:focus {
    color: #006cd7;
    text-decoration: underline;
}
.comments-list li.btn-load{
    padding: 5px;
}
.comments-list .comment-item .author-info img.author-profile-img {
    height: 36px;
    width: 36px;
}
.comments-list .comment-item .comment {
    margin-right: 44px;
}
.comments-list .comment-item{
    position: relative;
}
.comments-list .comment-item .author-profile-name {
    overflow: visible;
}
.comments-list .comment-item .comment-actions .dropdown {
    display: inline-block;
}
.comments-list .comment-item .comment-actions .dropdown > button, .comments-list .comment-item .comment-actions > button {
    background: none;
    border: none;
    padding: 0 5px;
    color: #999;
}
.comments-list .comment-item .comment-actions .dropdown > button:hover, .comments-list .comment-item .comment-actions > button:hover {
    color: #333;
}
.comments-list .comment-item .comment-actions .dropdown > button > .caret {
    margin-top: -3px;
}
.comments-list .comment-item .author-name {
    display: block;
    float: right;
    font-size: 0.8em;
    margin-left: 10px;
    white-space: nowrap;
}
.comments-list .comment-item .author-info {
    display: block;
    float: right;
    padding-right: 0;
    position: absolute;
    top: 0;
    right: 0;
}
.comments-list .comment-item .actions-container {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    overflow: visible;
}
.comments-list .comment-item .comment-info {
    float: right;
    display: block;
    font-size: 0.9em;
    color: #4F4F4F;
}
.comments-list .comment-item .comment-info .comment-votes {
    float: right;
    padding-left: 5px;
    font-size: 0.8em;
}
.comments-list .comment-item .comment-info .comment-votes:after {
    content: "-";
    margin-right: 5px;
}
.comments-list .comment-item .comment-content {
    margin-top: 8px;
    font-size: 0.9em;
    white-space: normal;
}
.comments-list .comment-item .comment-content input{
    padding: 6px;
}
.comments-list .comment-item .comment-content .comment-input{
    margin-top: 7px;
}
.comments-list .comment-replies-list .comment-item .comment-content .comment-input{
    margin-top: 5px;
}
.comments-list .comment-replies-list .comment-item .comment-content input{
    padding: 5px;
    height: 28px;
}
.comments-list .comment-replies-list .comment-item .comment-content .btn{
    padding: 3px 10px;
}
.comments-list .comment-item .comment-content .edit-actions{
    float: left;
    margin-top: 3px;
}
.comments-list .comment-item .comment-content .edit-actions .btn{
    border-radius: 0;
}
.comments-list .comment-item .comment-actions {
    text-align: left;
    float: left;
}
.comments-list .comment-item .comment-actions .btn {
    border: none;
    background-color: #f7f7f7;
    color: #999;
    background-color: transparent;
    padding: 2px 5px;
}
.comments-list .comment-item .comment-actions .btn:hover {
    color: #333;
}
.comments-list .comment-item .approval-status-container {
    float: right;
    margin-left: 5px;
}
.comments-list .comment-item .comment-timestamp, .comments-list .comment-item .comment-total-votes, .comments-list .comment-item .comment-edited {
    float: right;
    font-size: 0.8em;
    cursor: default;
    white-space: nowrap;
}
.comments-list .comment-item .comment-total-votes, .comments-list .comment-item .comment-edited {
    margin-right: 10px;
}
.comments-list .new-comment-form {
    position: relative;
}
.comments-list .comment-item.deleted > div > .author-info > a.author-profile-img, .comments-list .comment-item.deleted > div > .comment > .author-profile-name > a.author-name {
    cursor: default;
    text-decoration: none;
    color: #4F4F4F;
}
.comments-list .comment-item.deleted > div > .comment > .comment-content {
    cursor: default;
    color: #656565;
}
.comments-list .comment-item.deleted {
    cursor: default;
    color: #656565;
}
.comments-list .comment-item.hide-content {
    opacity: 0.8;
}
.new-comment-form .author-info {
    float: right;
    padding: 5px 0 5px 5px;
}
.comments-list .new-comment-form .comment-input {
    padding: 1px;
    margin-right: 47px;
    margin-top: 5px;
}
.comments-list .new-comment-form.disabled .comment-input {
    margin-right: 0;
}
.comments-list .new-comment-form.disabled .author-info {
    display: none;
}
.comments-list .comment-replies-list-container {
    margin: 5px 0;
    padding: 0 5px;
    background-color: #f0f0f0;
}
.comments-list .comment-replies-list-container .btn-load, .comments-list .comment-replies-list-container .btn-load:hover {
    background-color: transparent;
    background-color: #f0f0f0;
}
.comments-list .comment-replies-list-container li.comment-item-container {
    padding: 5px 0;
}
.comments-list .comment-replies-list .comment-item .author-info img.author-profile-img {
    width: 24px;
    height: 24px;
}
.comments-list .comment-replies-list .comment-item .comment {
    margin-right: 30px;
}
.comments-list .comment-item .comment-replies-list .author-info img.author-profile-img {
    height: 24px;
    width: 24px;
}
.comments-list .comment-replies-list .new-comment-form .comment-input {
    margin: 3px 28px 3px 0;
}
.comments-list .comment-replies-list .new-comment-form .comment-input input {
    padding: 5px;
    height: 28px;
    font-size: 0.9em;
}
.comments-list .comment-replies-list .new-comment-form .btn {
     padding: 3px 10px;
}
.post-card .badge.badge-comments-no {
    background-color: #0066ee;
    margin-left: -10px;
}
.btn.btn-upvote.active {
    color: #0066ee !important;
}
.btn.btn-downvote.active {
    color: #0066ee !important;
}
.settings-tabs {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    box-sizing: content-box;
}
.settings-btn{
    margin: 4px !important;
    border-radius: 0px !important;
}
.settings-content{
    background: white;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    padding: 20px 20px;
    font-size: 14px;
}
.settings-container .btn-container {
    text-align: left;
    margin-top: 10px;
}
.settings-container .btn-container .btn {
    border-radius: 0;
}
.top-margin {
    margin-top: 10px;
}
.border-left{
    border-left: 1px solid #eee;
}
.btn-category{
    vertical-align: 0 !important;
}
.action-list{
    font-size: 10px !important;
}
.logout{
    margin-left: 30px;
}
.new-post-image{
    padding: 30px 30px;
}
.icon-post{
    margin-bottom: 5px;
}
.icon-post-border{
    border-radius: 0 !important;
}
.modal-footer{
    padding: 7px 10px;
    background-color: #f7f7f7;
    text-align: center;
    margin-top: 20px;
}
.modal-register .modal-content {
    border-radius: 0;
}

.modal-login-ajax{
    padding: 3px 22px;
}
.modal-content-right{
    padding-top: 5px;
    padding-bottom: 5px;
}
.modal-content-left{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 10px;
    text-align: justify;
}
.modal-register-ajax{
    background-color: #0087F7;
    padding: 10px;
}
.modal-register .modal-content form {
    padding: 15px 15px 0 15px;
}
.navbar-mgn{
    margin-left: 15px;
}
.text-ctr{
    text-align: center;
    color: #333;
    font-size: 18px;
    margin-top: 14px;
}
.upload-photo-header{
    border-bottom: none;
    padding: 20px 30px;
    background-color: #f7f7f7;}
.upload-photo-body{
    padding:5px 40px;
    word-break: normal;
}
.margin-clc{
    margin-bottom: 10px !important;
}
.upload-photo-footer-txt{
    font-size: 10px;
    float: left;
    margin-top: 10PX;
}
.modal-clc{
    padding: 0 !important;
    margin-top: 15px !important;
}
.rules-header{
    padding: 10px 0;
    color:     #FF2424;
}
.rules-content{
    font-size: 11px;
}
.rules-register-content{
    font-size: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.rules-margin{
    border: 1px solid #eee;
    margin-top: 26px;
}
.modal-photo-upload{
    width: 500px;
}
.modal-login{
    width: 480px;
}
.modal-register{
    width: 480px;
}
.upload-photo-input{
    padding: 10px 0px;
    width: 100%;
    margin: 0px;
}
.rules-top{
    border-top: 1px dashed #eee;
    padding-top: 12px;
}
.upload-title{
    margin-top: 0;
    font-size: 25px;
    font-weight: 300;
    color: #888;
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.nsfw{
    font-size: 12px;
    margin: 10px 0;
}
.checkbox-text{
    margin-left: 3px !important;
}
.navbar-post-category{
    text-align: center;
    margin-bottom: 15px !important;
    border: 0;
}
.navbar-post-ctg{
}
.navbar-post-category .nav-tabs>li>a {
    color: #333;
    border-radius: 0;
    border: 0;
    border-bottom: 4px solid #e3e3e3;
}
.navbar-post-category .nav.nav-tabs a:hover, .navbar-post-category .nav.nav-tabs a:focus,
.navbar-post-category .nav.nav-tabs li.active a{
    color: #FFFFFF;
    border: 0;
    border-bottom: 4px #415CA9 solid;
    text-decoration: none;
    background-color: #0087f7;
}
.navbar-post-category .nav.nav-tabs a{
    transition: all .12s ease-in-out;
    text-decoration: none;
    background-color: #FFFFFF;
}
.nav-tabs{
    border-bottom: none !important;
}
.mgn-checkbox{
    margin-left: 10px !important;
}
.radio, .checkbox{
    padding: 0 !important;
}
.text-icheck{
    margin-right: 5px;
}
.border-checkbox{
    margin-bottom: 10px;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a img {
    -webkit-transition: all 100ms ease-in-out 0;
    -moz-transition: all 100ms ease-in-out 0;
    -o-transition: all 100ms ease-in-out 0;
    transition: all 100ms ease-in-out 0;
}
.navbar-default .navbar-nav > li > a.btn:hover,
.navbar-default .navbar-nav > li > a.btn:focus,
.navbar-default .navbar-nav > li > a.btn.active {
    box-shadow: none;
}
.navbar-default .navbar-nav .navbar-item-outline a {
    color: #66757f;
    border: 2px solid #66757f;
    padding: 5px 8px;
    margin: 8px 7px
}
.navbar-default .navbar-nav > li.navbar-item-outline > a:focus,
.navbar-default .navbar-nav > li.navbar-item-outline > a:hover,
.navbar-default .navbar-nav > li.navbar-item-outline > a.active {
    color: #FF2424;
    border-color: #FF2424;
}
.header-register-rules{
    color: #0087F7;
    text-align: center;
    background-color: #F5F5F5;
    padding: 3px;
    border-bottom: 1px solid #eee;
}
.btn-voted{
    width: 39px;
    height: 34px;
    margin: 1px;
}
.fa-size{
    font-size: 21px;
}
.affix {
    top: 50px;
    z-index: 100;
}
.top-tabs.affix{
    top: 50px;
    width: 100%;
}
.affix_fxd{
    background-color: #fafafa;
    z-index: 999999999;
    height: 43px;
    margin-bottom: 16px;
}

.profile-tabs-container {
    height: auto;
    background-color: #fff;
}
.btn-danger {
    color: #fff;
    background-color: #FF2424;
    border-color: #d43f3a;
}
.btn-primary{
    color: #fff;
    background-color: #008cff;
    border-color: #3788c9;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #0077e8;
    border-color: #367aba;
}
@media (min-width: 768px){
    .nav_col{
        height: 50px;
    }


    .navbar-default .navbar-nav.navbar-right > li {
        height: 50px;
    }
    .navbar-default .navbar-nav.navbar-right > li > a {
        border-bottom: 4px solid #f7f7f7;
        border-bottom: 4px solid transparent;
        height: 50px;
        padding-bottom: 11px;
        position: relative;
        display: block;
        padding: 15px 7px;
        word-break: normal;
        white-space: nowrap;

    }

    .navbar-default .navbar-nav.navbar-right > li > a:hover,
    .navbar-default .navbar-nav.navbar-right > li > a:focus,
    .navbar-default .navbar-nav.navbar-right > li > a.active {
        /*box-shadow: 0 -4px 0 0 #66757f inset;*/
        border-color: #FF2424;
        color: #fff;
    }
}
@media (min-width: 1200px) {
   .container{
       max-width: 970px;
   }
}
.space{
    padding: 0 5px;
}
.count{
    display: inline-block;
    direction: ltr;
}
.user-name-navbar{
    padding-right: 8px;
    padding-left: 8px;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-top: -2px;
}
.notif-bell{
    width: 24px;
    height: 24px;
    text-align: center;
}
.notif-bell:hover, .notif-bell:focus {
    opacity: 1;
}
.notifications-dropdown > a > .notif-bell{
    opacity: 0.8;
}
.notifications-dropdown.open > a > .notif-bell,
.notifications-dropdown > a:hover > .notif-bell,
.notifications-dropdown > a:focus > .notif-bell {
    opacity: 1;
}
.navbar .nav a.user-dropdown {
    padding: 10px;
}
.navbar .nav a.user-dropdown .caret {
    margin-top: 0px;
    margin-right: 5px;
}
.navbar .nav .nav-username-container {
    float: right;
    padding-top: 6px;

}
.post-image-animation videogular vg-poster-image img {
    margin: 0 auto;
    width: 100%;
}
.post-image.post-image-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.post-image-container {
    min-height: 150px;
    overflow: hidden;
}
.video-not-ready {
    color: #fff;
    background-color: #333;
    padding: 5px;
    text-align: center;
    position: absolute;
    width: 200px;
    height: 100px;
    top: 50%;
    left: 50%;
    font-size: 2.5em;
    margin-top: -50px;
    margin-left: -100px;
    opacity: 0.8;
    z-index: 3;
}
.post-image-animation videogular vg-buffering .loadingSpinner {
    box-shadow: none;
}
.post-image-animation videogular vg-buffering .bufferingContainer {
    margin-top: -25px;
}
.post-image-animation videogular vg-overlay-play .play:before {
    content: "\e000";
    background-color: #EA0000;
    border-radius: 5px;
}
.post-image-animation videogular vg-overlay-play .overlayPlayContainer {
    opacity: 0.8;
}
.post-image .view-more {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: block;
    text-align: center;
    background: #FFF;
    padding: 15px;
    box-shadow: 0 0 90px 60px #FFF;
    z-index: 3;
}
.profile-navbar{
    margin-right: 0 !important;
    margin-left: auto !important;
}
.mailto{
    padding: 2px;
    font-size: 10px;
    background-color: #eee;
    color: #333;
    border-radius: 2px;
    border: 1px solid #D1D1D1;
}
a.navbar-brand img{
    width: 42px;
    height: 42px;
}
a.navbar-brand {
    padding: 9px;
    opacity: 0.9;
}
a.navbar-brand:hover, a.navbar-brand:focus, a.navbar-brand.active {
    opacity: 1;
}
.posts-list .btn.btn-load-more {
}
.toolbar .next-btn{
    float:left
}
.next-btn{
    padding: 6px 25px 6px;
    border: none;
    border-radius: 0;
    background-color: #FF2424;
    color: #fff;
}
.next-btn:hover, .next-btn:focus{
    background-color: #ea2525;
    color: #fff;
}
.toolbar {
    padding: 5px;
}
.toolbar.affix {
    background: #fff;
}
.nav li.nsfw-link a {
    padding-left: 30px;
    position: relative;
}
.nsfw-badge{
    display: block;
    position: absolute;
    padding: 0px 4px;
    top: 3px;
    left: 4px;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    border-radius: 3px;
    background-color: #FF2424;
    height: 15px;
    line-height: 12px;
}
.dropdown.more-categories .caret {
    margin-top: 8px;
}
a.navbar-brand {
    padding: 4px;
}
ul.form-errors-container {
    list-style: none;
    font-size: 0.9em;
    color: #FF2424;
    margin-top: 5px;
    padding:0;
}
ul.form-errors-container li {
    padding: 5px 0 5px 5px;
}
.footer .footer-nav {
    padding: 0;
}
.footer .footer-nav li {
    padding: 0 2px;
    list-style: none;
    display: inline;
}
.footer .footer-nav li > a {
    color: #969696;
}
.footer .footer-nav li > a:hover, .footer .footer-nav li > a:focus {
    color: #727272;
}
.footer .footer-nav img.footer-logo {
    margin-left: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.9;
}
.card.msg-card {
    text-align: center;
    padding: 30px;
}
.refreshing-msg {
    margin-top: 30px;
    color: #999;
}
.main-sidebar .promotion-box {
    width: 100%;
    max-width: 300px;
    background-color: #fafafa;
}
.promotion-box .left-side
{
    width:50%;
    float:left;
}
.promotion-box .left-side img
{
    width:95%;
}
.promotion-box .right-side
{
    width:50%;
    float:right;
}
.promotion-box .btn-app img
{
    width:99%;
    opacity:0.6;
    -webkit-transition: all 300ms ease-in-out 0;
    -moz-transition: all 300ms ease-in-out 0;
    -o-transition: all 300ms ease-in-out 0;
    transition: all 300ms ease-in-out 0;
}
.promotion-box .btn-app img:hover
{
    opacity:1;
    -webkit-transition: all 300ms ease-in-out 0;
    -moz-transition: all 300ms ease-in-out 0;
    -o-transition: all 300ms ease-in-out 0;
    transition: all 300ms ease-in-out 0;
}
.promotion-box .btn-about img
{
    opacity:0.6;
    width:46%;
    float:right;
    margin-top:10px;
}
.promotion-box .btn-rules img
{
    opacity:0.6;
    width:40%;
    float:left;
    margin-top:12px;
}
.promotion-box .big-logo
{
    margin-top:80%;
    opacity:0.9;
}
.promotion-box .big-logo img
{
    width:95%;
}
.promotion-box .coming-soon
{
    margin-top:15px;
    height:35px;
}
.promotion-box .coming-soon img
{
    width:55%;
    display:none;
}
.promotion-box.affix {
    top: 60px;
}
.overlay-msg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 4;
    background-color: rgba(247, 247, 247, 0.7);
    height: 100%;
    padding: 12px;
    cursor: default;
    font-size: 0.9em;
}
span.menu-item-text {
    padding-right: 5px;
}
.post-image-title input:hover,.post-image-title input:focus {
    border-color: #909090;
}
.post-image-title input, .post-image-title input:disabled {
    width: 100%;
    padding: 5px;
    margin: 0;
    border: 1px dashed #ccc;
    outline: 0;
    -webkit-transition: border-color ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
}
.post-category select:hover, .post-category select:focus {
    box-shadow: 0 1px 4px -2px #333;
    border: 1px solid #ccc;
}
.post-category select, .post-category select:disabled {
    border: 1px solid #e3e3e3;
    padding: 0 2px;
    box-shadow: 0 1px 2px -2px #333;
}
.text-register{
    color: #0087F7;
}
.settings-cnt{
    background: white;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    padding: 20px 30px;
    box-sizing: border-box;
    margin-bottom: 13px;
    font-size: 12px;
}
.modal.in .modal-dialog{
    margin: 50px auto;
}
.nv-l{
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}
.psw-stg{
    margin-bottom: 16px;
    border-top: 1px dashed #eaeaea;
    box-shadow: none;
    background: transparent;
    padding: 20px 0;
}
.btn-rd{
    border-radius: 1px;
    padding: 6px 27px;
    float: left;
    margin-left: 14px;
}
.modal-header .close{
    padding: 15px;
}
.mgn-tp{
    margin-top: 20px;
}
.mgn-btm-p{
    margin-bottom: 20px;
    margin-top: 20px;
}
.mgn-btm{
    margin-top: 15px;
    font-size: 14px;
}
.p-logo{
    margin:5px ;
    width: 36px;
}
.modal-content{
    border-radius: 0;
}
.small-modal .modal-content{
    border: 5px solid #ccc;
}
.small-modal .modal-footer {
    text-align: left;
    margin-top: 10px;
}
.post-header .post-actions {
    float: left;
    position: relative;
    margin-right: 5px;
}
.post-header .post-actions .btn {
    float: right;
    margin-right: 2px;
    /*line-height: 2;*/
    font-size: 18px;
}
select.col-xs-1, select.col-xs-2, select.col-xs-3, select.col-xs-4, select.col-xs-5, select.col-xs-6, select.col-xs-7, select.col-xs-8, select.col-xs-9, select.col-xs-10, select.col-xs-11, select.col-xs-12, select.col-sm-1, select.col-sm-2, select.col-sm-3, select.col-sm-4, select.col-sm-5, select.col-sm-6, select.col-sm-7, select.col-sm-8, select.col-sm-9, select.col-sm-10, select.col-sm-11, select.col-sm-12, select.col-md-1, select.col-md-2, select.col-md-3, select.col-md-4, select.col-md-5, select.col-md-6, select.col-md-7, select.col-md-8, select.col-md-9, select.col-md-10, select.col-md-11, select.col-md-12, select.col-lg-1, select.col-lg-2, select.col-lg-3, select.col-lg-4, select.col-lg-5, select.col-lg-6, select.col-lg-7, select.col-lg-8, select.col-lg-9, select.col-lg-10, select.col-lg-11, select.col-lg-12 {
    padding-right: 8px;
}
.modal-body label {
    white-space: nowrap;
    font-weight: normal;
}
.top-tabs .navbar-left {
    text-align: left;
}
.navbar-nav>li {
    white-space: nowrap;
}
.modal-body .btn.google-plus-icon {
    margin-bottom: 0;
}
.navbar-toggle {
    padding: 8px 10px;
    margin-top: 9px;
    border: none;
    border-radius: 0;
}
.navbar-toggle .icon-bar {
    height: 3px;
}

.toolbar.affix-top, .toolbar {
    position: absolute;
    top: 0;
    left: 15px;
}
.toolbar.affix {
    position: fixed;
    top: 50px;
    left: auto;
}
div#profileTabs.affix-top, div#profileTabs {
    position: absolute;
    width: 100%;
}
div#profileTabs.affix {
    position: fixed;
}
.posts-list.profile {
    margin-top: 86px;
}
.single-post-view {
    margin-top: 50px;
}
.upvotes-modal .modal-dialog {
    max-width: 500px;
    width: auto;
}
.upvotes-modal .modal-body {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}
.upvotes-modal .modal-header p {
    margin: 0;
}
.upvotes-modal .modal-header .close {
    padding: 5px 15px;
}
.upvotes-modal .modal-content {
    min-height: 400px;
}
.upvotes-modal .card {
    box-shadow: none;
    border: none;
    padding: 15px;
    font-size: 1.5em;
}
.upvotes-modal .user-list {
    border: none;
    padding: 0;
}
.upvotes-modal .user-list .user-list-item {
    padding: 5px;
}
.upvotes-modal .user-list .user-list-item img.user-profile-image {
    width: 36px;
    height: 36px;
}
.upvotes-modal .user-list .user-list-item .user-profile-link {
    padding: 5px;
}
.upvotes-modal .user-list .user-list-item .btn-follow-container {
    margin-top: 0;
}

.facebookShare {
    border: none;
    visibility: visible;
    width: 39px;
    height: 34px;
    background: transparent;
    overflow: hidden;
    -webkit-text-size-adjust: none;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
    direction: ltr;
    cursor: pointer;
    display: inline-block;
}
.facebookShare:hover .facebookButton .pluginButton,
.facebookShare:active .facebookButton .pluginButton,
.facebookShare:focus .facebookButton .pluginButton {
    background: #5b7bd5;
    background: -moz-linear-gradient(top, #5b7bd5 0%, #4864b1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b7bd5), color-stop(100%, #4864b1));
    background: -webkit-linear-gradient(top, #5b7bd5 0%, #4864b1 100%);
    background: -o-linear-gradient(top, #5b7bd5 0%, #4864b1 100%);
    background: -ms-linear-gradient(top, #5b7bd5 0%, #4864b1 100%);
    background: linear-gradient(to bottom, #5b7bd5 0%, #4864b1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b7bd5', endColorstr='#4864b1', GradientType=0);
    border-color: #5874c3 #4961a8 #41599f;
}
.facebookShare .facebookButton {
    color: #3b5998;
    text-decoration: none;
    font-size: 1.4em;
    text-align: center;
    display: inline-block;
    width: 39px;
}
.facebookShare .facebookButton .pluginButton {
    background: #4c69ba;
    background: -moz-linear-gradient(top, #4c69ba 0%, #3b55a0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c69ba), color-stop(100%, #3b55a0));
    background: -webkit-linear-gradient(top, #4c69ba 0%, #3b55a0 100%);
    background: -o-linear-gradient(top, #4c69ba 0%, #3b55a0 100%);
    background: -ms-linear-gradient(top, #4c69ba 0%, #3b55a0 100%);
    background: linear-gradient(to bottom, #4c69ba 0%, #3b55a0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c69ba', endColorstr='#3b55a0', GradientType=0);
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    height: 34px;
    padding: 0;
    text-shadow: 0 -1px 0 #354c8c;
    white-space: nowrap;
}
.facebookShare .facebookButton .pluginButton .pluginButtonContainer {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.004);
}
.facebookShare .facebookButton .pluginButton .pluginButtonContainer .pluginButtonImage {
    display: inline-block;
}
.facebookShare .facebookButton .pluginButton button {
    background: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    font-weight: bold;
    margin: -1px;
    outline: none;
    padding: 0;
    text-shadow: 0 -1px 0 #354c8c;
}
.facebookShare .facebookButton .pluginButton button .pluginButtonIcon {
    height: 23px;
    left: 0;
    margin: 0 4px 0 4px;
    position: relative;
    top: 6px;
    vertical-align: top;
    width: 14px;
}
.facebookShare .facebookButton .pluginButton .pluginButtonLabel {
    padding: 0 5px 0 0;
    position: relative;
    vertical-align: top;
}
.facebookShare .facebookCount {
    display: inline-block;
    width: auto;
}
.facebookShare .facebookCount .pluginCountButton {
    background: white;
    border: 1px solid #bbb;
    border-radius: 3px;
    color: #6a7180;
    display: inline-block;
    font-size: 11px;
    height: auto;
    line-height: 18px;
    margin-left: 6px;
    min-width: 15px;
    padding: 0 3px;
    text-align: center;
    white-space: nowrap;
}
.facebookShare .facebookCount .pluginCountButton span {
    display: inline-block;
    min-height: 12px;
    min-width: 4px;
    color: #333;
}
.facebookShare .facebookCount .pluginCountButtonNub {
    height: 0;
    left: 2px;
    position: relative;
    top: -15px;
    width: 5px;
    z-index: 2;
}
.facebookShare .facebookCount .pluginCountButtonNub s,
.facebookShare .facebookCount .pluginCountButtonNub i {
    border-color: transparent #bbb;
    border-style: solid;
    border-width: 4px 5px 4px 0;
    display: block;
    position: relative;
    top: 1px;
}
.facebookShare .facebookCount .pluginCountButtonNub i {
    border-right-color: #fff;
    left: 2px;
    top: -7px;
}
.navbar-nav.navbar-left >li.notice-dropdown.arrow-dropdown  a.dropdown-toggle {
    font-size: 1.6em;
    color: #FF2424;
    padding: 12px 15px;
}
select#userProfile_birthday_day {
    margin-left: 3px;
    width: 25%;
}
select#userProfile_birthday_month {
    margin-left: 3px;
    width: 40%;
}
select#userProfile_birthday_year {
    width: 31%;
}
.blinker {
     -webkit-animation-name: blinker;
     -webkit-animation-duration: 1s;
     -webkit-animation-timing-function: linear;
     -webkit-animation-iteration-count: infinite;
     -moz-animation-name: blinker;
     -moz-animation-duration: 1s;
     -moz-animation-timing-function: linear;
     -moz-animation-iteration-count: infinite;
     animation-name: blinker;
     animation-duration: 1s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
}
@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
.animation-off {
    -webkit-animation-name: none !important;
    -webkit-animation-play-state: paused !important;;
    -moz-animation-name: none !important;;
    -moz-animation-play-state: paused !important;;
    animation-name: none !important;;
    animation-play-state: paused !important;;
}
@-moz-document url-prefix() {
    .facebookShare .facebookButton .pluginButton button .pluginButtonIcon {
        margin: 0 1px;
    }
}
.notice-dropdown .notice-content {
    padding: 0;
    overflow: hidden;
    position: relative;
    max-height: 500px;
}

.mobile-only {
    display: none !important;
}
.actions-container .post-actions .mobile-only {
    display: none !important;
}
.btn-file {
    position: relative;
    overflow: hidden;
    margin: 5px 0;
    cursor: pointer;
    padding: 10px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.upload-input {
    margin-bottom: 10px;
}

.icon {
    background-image: url("../images/icons.png");
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.icon-dislike {
    width: 64px;
    height: 64px;
    background-position: -5px -5px;
    zoom:0.4;
    -moz-transform:scale(0.4);
    -moz-transform-origin: 0 0;
}

.icon-like {
    width: 64px;
    height: 64px;
    background-position: -79px -5px;
    zoom:0.4;
    -moz-transform:scale(0.4);
    -moz-transform-origin: 0 0;
}

.icon-logo {
    width: 70px;
    height: 74px;
    background-position: -5px -79px;
}

.icon-logo-mono {
    width: 70px;
    height: 74px;
    background-position: -85px -79px;
}

.icon-notif-bell {
    width: 64px;
    height: 64px;
    background-position: -153px -5px;
    zoom:0.4;
    -moz-transform:scale(0.4);
    -moz-transform-origin: 0 0;
}

.icon-s {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
}
.icon-dl-s {
    background-image: url("../images/download.png");
}
.icon-share-s {
    background-image: url("../images/share.png");
}
.icon-like-s {
    background-image: url("../images/like.png");
}
.icon-dislike-s {
    background-image: url("../images/dislike.png");
}
.icon-notif-bell-s {
    width: 24px;
    height: 24px;
    background-image: url("../images/notif_bell_w.png");
}
.content-warning {
    margin-top: 15px;
    text-align: justify;
    float:right;
}

.invisible .facebookShare {
    visibility: hidden !important;
}

.top-featured-posts .featured-post-item {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
}
.top-featured-posts .featured-post-item:hover {
}
.top-featured-posts .featured-post-item:last-child {
    /*margin-right: 0;*/
}
.top-featured-posts {
    height: 165px;
    overflow: hidden;
    margin-bottom: 10px;
    white-space: nowrap;
    direction: ltr;
    box-shadow: none;
    position: relative;
}
.top-featured-content {
}

.form-group.slug .col-md-4 {
    padding-right: 0;
}
.form-group.slug label {
    padding: 3px 0;
}
.caret.caret-up {
    content: "";
    border-top: 0;
    border-bottom: 4px solid;
}
@media (min-width: 768px) {
    .nav_col {
        height: 50px;
        width: 100%;
    }
}
@media screen and (max-width:1024px) {
    #btn-Upload{ display: none }
    .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
        float:right;
    }
    .settings-container.row > form > .col-md-4 {
        margin-top: 10px;
    }
    .mobile-only {
        display: block !important;
    }
    .actions-container .post-actions .mobile-only {
        display: inline-block !important;
    }
}
@media screen and (min-width:1024px) {
    #btn-Upload{ display: none}
    .settings-container.row > form > .col-md-4 {
        padding-right: 0;
    }
}
@media screen and (max-width:1000px) {
    .card.post-card .post-header .actions .fb-share-container {
        display: none;
    }
}
@media screen and (max-width:767px) {
    .notifications-dropdown {
        margin-left: 0;
    }
    .navbar-collapse{
        width: 100%;
    }

    .main-sidebar .promotion-box {
        display: none;
    }
    #btnUpload { display:none; }
    #btn-Upload{ display: block;
        background-color: #414141;
    }
    li.lic {
        float: left;
    }
    .navbar-nav{
        margin: 0;
    }
    .fa-sz{
        font-size: 25px;
        margin-top: 5px;
    }
    li.mview{
        float: left;
    }
    .navbar-nav.navbar-left .open .dropdown-menu {
        position: absolute;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, .15);
    }
    .navbar-nav {
        margin:0;
    }
    .navbar-nav.navbar-left > li > a.btn-icon {
        font-size: 24px;
        padding: 14px 16px 11px 15px;
        margin: 0;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: #323232;
        margin: 0;
    }
    .navbar.navbar-default .container {
        padding: 0;
    }
    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
        margin: 0;
    }
    .modal-dialog.modal-photo-upload,.modal-dialog.modal-register,.modal-dialog.modal-login {
        width: 100%;
        margin: 0 !important;
    }
    .upload-photo-body{
        padding:5px 15px;
    }
    .modal-content{
        border: none;
    }
    .main-content {
        padding: 0;
    }
    .navbar-nav.navbar-left >li.arrow-dropdown > a {
        padding: 13px 13px 13px 13px;
    }
    .navbar-nav.navbar-left > li > .dropdown-arrow.dropdown-menu {
        left: 0;
        width: 100%;
        top: 50px;
        position: fixed;
        margin: 0;
        border: 0;
        border-top: 2px solid #ccc;
        border-radius: 0;
    }
    .navbar-nav.navbar-left > li.notice-dropdown > .dropdown-arrow.dropdown-menu {
        border-bottom: 2px solid #ccc;
    }
    .dropdown-arrow.dropdown-menu:after {
        content: "";
        display: none;
        width: 0;
        border: none;
    }
    .dropdown-arrow.dropdown-menu:before {
        content: "";
        display: none;
        width: 0;
        border: none;
    }
    .navbar-nav.navbar-left>li {
        float: right;
    }
    ul.nav.navbar-nav.navbar-left {
        float: left !important;
    }
    .navbar-nav.navbar-left > li > a {
        padding: 15px;
    }
    .navbar-mgn {
        margin: 0;
    }
    .navbar-default .navbar-nav.navbar-right .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav.navbar-right .open .dropdown-menu > li > a:focus {
        color: #FFF;
        background-color: transparent;
    }
    .navbar-default .navbar-nav.navbar-right .open .dropdown-menu > li > a {
        color: #C6C6C6;
    }
    .dropdown-menu {
        right: auto;
        left: 0;
        float: left;
    }
    .profile-pic{
        border: 3px solid #fff;
        border-radius: 6px;
        height: 128px;
        width: 128px;
    }
    .profile-header {
        padding-top: 25px;
    }
    .cover-ctr {
        margin-bottom: 20px;
    }
    .nav-pills>li+li {
        margin-right: 0;
    }
    .user-list {
        padding: 5px;
    }
    .user-list .user-list-item {
        padding: 10px;
    }
    .user-list .user-list-item img.user-profile-image {
        height: 32px;
        width: 32px;
    }
    .user-list .user-list-item .user-profile-link {
        padding: 5px;
    }
    .user-list .user-list-item .btn-follow-container {
        margin-top: 0;
    }
    .notifications-dropdown .all-notification-btn {
        border-bottom: 1px solid #e3e3e3;
    }
    body > .main-wrapper > .container.posts-list {
        padding: 0;
    }
    .main-wrapper .section-header .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .post-actions .vote-actions {
        padding-left: 0;
    }
    .actions-container .post-actions .post-info {
        padding-right: 3px;
    }
    .actions-container .post-actions .post-info .sep {
        padding: 0 5px;
    }
    .posts-list .post-card.card, .posts-list .loading-box.card {
        border-left: none;
        border-right: none;
        box-shadow: none;
        border-radius: 0;
    }
    .posts-list .loading-box.card {
        border: none;
        padding: 15px;
        background-color: transparent;
    }
    .comments-list .comment-item .actions-container {
        position: relative;
        float: left;
    }
    .settings-container.row > form > div > .row {
        margin-right: 0;
        margin-left: 0;
    }
    .settings-container.row > form > div {
        padding-right: 0;
        padding-left: 0;
    }
    .settings-container.row > form > div.btn-container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .profile-tabs-container .container {
        padding: 0;
    }
    .profile-tabs-container .container .nav.pull-left {
        padding-left: 10px;
    }
    .toolbar.affix-top, .toolbar {
        top: -50px;
        left: 0;
    }
    .toolbar.affix {
        left: 0;
    }
    .card.post-card .post-content-container {
        margin: 0 -10px;
    }
    .card.post-card .post-header .more-actions ul.dropdown-menu.more-actions-dropdown {
        right: auto;
        left: 0;
    }
    li.comment-item-container {
        padding: 5px 0;
    }
}