{% extends 'RasenNineGagBundle:Post:posts_list.html.twig' %}
{% trans_default_domain "RasenNineGagBundle" %}
{% block navbarActive %}home{% endblock %}
{% block title %}
    {{ 'title.home'|trans }}
    {% block activeNavbar %}home{% endblock %}
{% endblock %}
{% block controller_name %}PostsCtrl{% endblock %}