{% extends 'RasenNineGagBundle:Post:posts_list.html.twig' %}
{% trans_default_domain "RasenNineGagBundle" %}
{% block title %}{{ 'navbar.hot'|trans }}{% endblock %}
{% block controller_name %}PostsHotCtrl{% endblock %}