{% extends 'RasenNineGagBundle:Post:posts_list.html.twig' %}
{% trans_default_domain "RasenNineGagBundle" %}
{% block navbarActive %}nsfw{% endblock %}
{% block title %}{{ 'navbar.nsfw'|trans }}{% endblock %}
{% block header %}
    <div class="section-header"><div class=container><div class="main posts-list"><h2>{{ block('title') }}</h2></div></div></div>
{% endblock %}
{% block controller_name %}PostsNsfwCtrl{% endblock %}