{% extends 'RasenNineGagBundle:Layout:sidebar.html.twig' %}
{% trans_default_domain "RasenNineGagBundle" %}
{% set own = false %}
{% if app.user is not null and app.user.id == post.createdBy.id %}
    {% set own = true %}
{% endif %}
{% block mainClass %}posts-list single-post{% endblock %}
{% import 'RasenNineGagBundle:Template:widget.html.twig' as widget %}
{% block head %}
    {% set postImage = (vich_uploader_asset(post, 'posts') | imagine_filter('posts_full')) %}
    <meta property="og:title" content="{{ post.postTitle }}" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ postImage }}" />
    <meta property="og:image:type" content="image/jpeg"/>
    <meta property="og:image:width" content="700"/>
    {% if post.width is not empty and post.width > 0 and post.height is not empty and post.height > 0 %}
        <meta property="og:image:height" content="{{ ((700/post.width) * post.height)| round(0, 'floor') }}"/>
    {% endif %}
    <meta name="twitter:card" content="photo" />
    <meta name="twitter:title" content="{{ post.postTitle }}" />
    <meta name="twitter:image" content="{{ postImage }}" />
    <link rel="image_src" type="image/jpeg" href="{{ postImage }}" />
    <link rel="canonical" href="{{ post|post_url }}" />
{% endblock %}
{% block title %}عکس {% if post.postTitle is not null  %}{{ post.postTitle }}{% endif %}{% endblock %}
{% block header %}
    <div class="section-header"><div class=container><div class="main posts-list"><h2><a href="{{ path('rasen_ninegag_postcategory_view', {'slug': post.category.slug}) }}">{{ post.category.name }}</a></h2></div></div></div>
{% endblock %}
{% block main %}
    {% if nextPost is defined and nextPost is not null %}
        <div id="postToolbar" class="toolbar clearfix">
            <a class="next-btn btn btn-default" href="{{ nextPost|post_url }}">بعدی</a>
        </div>
    {% endif %}
    <div class="single-post-view" data-ng-controller="PostCtrl">
        {{ widget.post_card(post, true) }}
    </div>
    {% include 'RasenNineGagBundle:Layout:top_featured.html.twig' %}
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
        {% spaceless %}
        var post = {{ postJson | raw }};
        var own = {{ own ? 'true':'false' }};
        var postToolbar = $('#postToolbar');
        if (postToolbar.length) {
            var resizeToolbar = function(){
                postToolbar.width($('.single-post-view > .post-card').outerWidth() - 10);
            };
            if( $(window).width() > 467 ) {
                postToolbar.affix({offset: {
                    top: postToolbar.offset().top - 50
                }});
                resizeToolbar();
            }
            var debouncedResizeToolbar = _.debounce(resizeToolbar, 200);
            $(window).on('resize', debouncedResizeToolbar);
        } else {
            $('.single-post-view').css('margin-top', 0);
        }
        $('.mobile-only').on('click', function(e) {
            e.preventDefault();
        });
        $('.post-dl-btn').on('click', function(e) {
            ga('send', 'event', 'post-dl-button', 'click', post.id, 1);
        });
        $('.post-share-btn').on('click', function(e) {
            ga('send', 'event', 'post-share-button', 'click', post.id, 1);
        });
        {% endspaceless %}
    </script>
    {% javascripts
    '@RasenNineGagBundle/Resources/public/vendor/angular-sanitize/angular-sanitize.min.js'
    '@RasenNineGagBundle/Resources/public/vendor/ngInfiniteScroll/build/ng-infinite-scroll.min.js'
    '@RasenNineGagBundle/Resources/public/vendor/videogular/videogular.js'
    '@RasenNineGagBundle/Resources/public/vendor/videogular-overlay-play/overlay-play.min.js'
    '@RasenNineGagBundle/Resources/public/vendor/videogular-buffering/buffering.min.js'
    '@RasenNineGagBundle/Resources/public/vendor/videogular-poster/poster.min.js'
    '@RasenNineGagBundle/Resources/public/vendor/videogular-flash/flash.js'
    '@RasenNineGagBundle/Resources/public/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js'
    '@RasenNineGagBundle/Resources/public/js/common/angular-socialshare/angular-socialshare.js'
    '@RasenNineGagBundle/Resources/public/js/common/modalService.js'
    '@RasenNineGagBundle/Resources/public/js/common/timeApp.js'
    '@RasenNineGagBundle/Resources/public/js/common/approveStatus.js'
    '@RasenNineGagBundle/Resources/public/js/common/postsManager.js'
    '@RasenNineGagBundle/Resources/public/js/common/commentsManager.js'
    '@RasenNineGagBundle/Resources/public/js/single_post_app/app.js'
    '@RasenNineGagBundle/Resources/public/js/single_post_app/controllers.js'
    filter='?closure' package='cdna'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}