{% extends 'RasenNineGagBundle:Post:posts_list.html.twig' %}
{% trans_default_domain "RasenNineGagBundle" %}
{% block navbarActive %}trending{% endblock %}
{% block title %}{{ 'navbar.trending'|trans }}{% endblock %}
{% block controller_name %}PostsTrendingCtrl{% endblock %}