{% extends 'RasenNineGagBundle:Post:posts_list.html.twig' %}
{% trans_default_domain "RasenNineGagBundle" %}
{% block navbarActive %}{{ 'category.' ~ category.slug }}{% endblock %}
{% block title %}{{ category.name }}{% endblock %}
{% block header %}
    <div class="section-header"><div class=container><div class="main"><h2>{{ block('title') }}</h2></div></div></div>
{% endblock %}
{% block main %}
    <div  data-ng-controller="MainCtrl">
        <nav class="navbar-post-category navbar-post-ctg">
            <ul class="nav nav-tabs nav-justified">
                <li data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.fresh'|trans }}" data-ng-class="{'active': $state.includes('category.list') && $stateParams.filter == 'fresh'}"><a data-ui-sref="category.list({filter: 'fresh'})">{{ 'navbar.fresh'|trans }}</a></li>
                <li data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.trending'|trans }}" data-ng-class="{'active': $state.includes('category.list') && $stateParams.filter == 'trending'}"><a data-ui-sref="category.list({filter: 'trending'})">{{ 'navbar.trending'|trans }}</a></li>
                <li data-toggle="tooltip" data-placement="top" title="{{ 'tooltip.hot'|trans }}" data-ng-class="{'active': $state.includes('category.list') && $stateParams.filter == 'hot'}"><a data-ui-sref="category.list({filter: 'hot'})">{{ 'navbar.hot'|trans }}</a></li>
            </ul>
        </nav>
    </div>
    <i class="ion-loading-c" data-ng-hide="!loading"></i>
    <div data-ui-view=""></div>
{% endblock %}
{% block appScripts %}
    {% javascripts
    '@RasenNineGagBundle/Resources/public/vendor/angular-ui-router/release/angular-ui-router.min.js'
    '@RasenNineGagBundle/Resources/public/js/posts_category_app/app.js'
    '@RasenNineGagBundle/Resources/public/js/posts_category_app/services.js'
    '@RasenNineGagBundle/Resources/public/js/posts_category_app/controllers.js'
    filter='?closure' package="cdna"%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        var category = "{{ category.slug }}";
    </script>

{% endblock %}