{% extends 'RasenNineGagBundle:Layout:fixed.html.twig' %}

{% trans_default_domain 'RasenNineGagBundle' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3 card msg-card">
            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
            <div class="refreshing-msg">
                <p>{{ 'registration.refresh_msg'|trans }} <span id="msgDots"></span></p>
                <p><i class="ion-refreshing"></i></p>
            </div>
        </div>
    </div>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>{% endif %}
    {% endif %}
{% endblock  %}
{% block scripts %}
    {{ parent() }}
    <script type="text/javascript">
        {% spaceless %}
        window.setTimeout(function(){
            window.location = "{{ path('rasen_ninegag_main_home') }}";
        }, 5000);
        var sec = 0;
        var dotInterval = window.setInterval(function(){
            if (sec < 5) {
                sec++;
            } else {
                window.clearInterval(dotInterval);
            }
            $('#msgDots').text($('#msgDots').text() + '.');
        }, 1000);
        {% endspaceless %}
    </script>
{% endblock %}