{% trans_default_domain "RasenNineGagBundle" %}

{% block fos_user_content %}
    <div class="form-box">
        <div class="form-box-header">
            <h3 class="form-box-heading">{{ 'form.user.register'|trans }}</h3>
        </div>
        <div class="form-box-container">
            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST"  class="fos_user_registration_register submit-once">
                <div class="form-group">
                    {{ form_label(form.email, 'form.user.email'|trans) }}
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.username, 'form.user.name'|trans) }}
                    {{ form_widget(form.username) }}
                    {{ form_errors(form.username) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.plainPassword.first, 'form.user.password'|trans({}, 'RasenNineGagBundle')) }}
                    {{ form_widget(form.plainPassword.first) }}
                    {{ form_errors(form.plainPassword.first) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.plainPassword.second, 'form.user.password_confirmation'|trans({}, 'RasenNineGagBundle')) }}
                    {{ form_widget(form.plainPassword.second) }}
                    {{ form_errors(form.plainPassword.second) }}
                </div>
                {{ form_widget(form) }}
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <button id="_submit" class="btn btn-primary btn-block" type="submit">
                            <span class='btn-text'>{{ 'form.user.register'|trans }}</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock fos_user_content %}