{% extends 'RasenNineGagBundle:Layout:fixed.html.twig' %}
{% block title %}{{ 'navbar.sign_up'|trans({}, 'RasenNineGagBundle') }}{% endblock %}
{% block content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock %}