{% extends admin.getTemplate('base_list_field') %}
{% block field %}
    <span style="color:{{ object.iconColor is not null ? object.iconColor : '#FF2424' }} !important;"><i class="{{ object.icon is not null ? object.icon : 'ion-information-circled' }}"></i></span>
{% endblock %}