{% extends admin.getTemplate('base_list_field') %}
{% block field %}
{% if attribute(object, 'getImageFile') is defined %}
    {% if vich_uploader_asset(object, 'watermarks') is not null %}
    <a class="watermark-image-thumb" href="{{ vich_uploader_asset(object, 'watermarks') }}" data-lightbox="watermark{{ object.id }}"><img src="{{ vich_uploader_asset(object, 'watermarks') }}"/></a>
    {% else %}
        <span>{{ 'watermark.no_image'|trans({}, 'RasenNineGagBundle') }}</span>
    {% endif %}
{% endif %}
{% endblock %}