{% extends admin.getTemplate('base_list_field') %}
{% block field %}
{% if attribute(object, 'getImageFile') is defined %}
    {% if vich_uploader_asset(object, 'ads') is not null %}
    <a class="ad-image-thumb" href="{{ vich_uploader_asset(object, 'ads') }}" data-lightbox="ad{{ object.id }}" data-title="{{ object.advertisementTitle }}"><img src="{{ vich_uploader_asset(object, 'ads') | imagine_filter('w300')}}"/></a>
    {% else %}
        <span>{{ 'advertisement.no_image'|trans({}, 'RasenNineGagBundle') }}</span>
    {% endif %}
{% endif %}
{% endblock %}