{% set approved = true %}
{% if admin.getClassnameLabel == 'Post' %}
    {% set approved = object.isApproved %}
{% elseif admin.getClassnameLabel == 'Comment' %}
    {% set approved = object.approved %}
{% endif %}
{% if admin.isGranted('EDIT', object) and admin.hasRoute('edit') and (approved is null or not approved) %}
    <a href="{{ admin.generateObjectUrl('approve', object) }}" class="btn btn-sm btn-success approve_link" title="{{ 'action_approve'|trans({}, 'RasenNineGagBundle') }}">
        <i class="glyphicon glyphicon-ok"></i>
        {{ 'action_approve'|trans({}, 'RasenNineGagBundle') }}
    </a>
{% endif %}
