{% extends admin.getTemplate('base_list_field') %}
{% block field %}
{% if attribute(object, 'getImageFile') is defined %}
    {% if vich_uploader_asset(object, 'notice_images') is not null %}
    <a class="notice-image-thumb" href="{{ vich_uploader_asset(object, 'notice_images') }}" data-lightbox="notice{{ object.id }}" data-title="{{ object.title }}"><img src="{{ vich_uploader_asset(object, 'notice_images') | imagine_filter('w300')}}"/></a>
    {% else %}
        <span>{{ 'notice.no_image'|trans({}, 'RasenNineGagBundle') }}</span>
    {% endif %}
{% endif %}
{% endblock %}