{% extends 'RasenNineGagBundle:Layout:fixed.html.twig' %}
{% trans_default_domain "RasenNineGagBundle" %}
{% block title %}{{ 'form.user.setting'|trans }}{% endblock %}
{% block content %}
    <h1>{{ block('title') }}</h1>
    <div class="row top-space settings-container">
        {{ form_start(form, { 'attr': {'class': 'submit-once'} }) }}
        <div class="col-md-8 col-xs-12">
            <div class="settings-content">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.firstName, 'show.label_first_name'|trans) }}
                            {{ form_widget(form.firstName) }}
                            {{ form_errors(form.firstName) }}
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.lastName, 'show.label_last_name'|trans) }}
                            {{ form_widget(form.lastName) }}
                            {{ form_errors(form.lastName) }}
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 ">
                        <div class="form-group">
                            {{ form_label(form.username, 'login.username'|trans) }}
                            {{ form_widget(form.username) }}
                            {{ form_errors(form.username) }}
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.phone, 'show.label_phone'|trans) }}
                            {{ form_widget(form.phone) }}
                            {{ form_errors(form.phone) }}
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.gender, 'show.gender'|trans) }}
                            {{ form_widget(form.gender,{'attr':{'class':'form_lb'}}) }}
                            {{ form_errors(form.gender) }}
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.birthday, 'show.label_birthday_s'|trans) }}
                            {{ form_widget(form.birthday,{'attr':{'class':'form_lb date-select'}}) }}
                            {{ form_errors(form.birthday) }}
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <div class="form-group">
                            {{ form_label(form.profileBio, 'show.label_profile_bio'|trans) }}
                            {{ form_widget(form.profileBio,{'attr':{'class':'textarea_s ,form_lb'}}) }}
                            {{ form_errors(form.profileBio) }}
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <div class="psw-stg">
                            <a class="change_password" href="{{ path('fos_user_change_password') }}">
                                <i class="fa fa-key"></i><span class="change_password_text">{{ 'setting.change_password'|trans }}</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
                <div class="col-md-12 settings-content">
                        <div class="form-group">
                            {{ form_label(form.profilePic, 'setting.avatar'|trans) }}
                            {{ form_widget(form.profilePic,{'attr':{'class':'form_lb'}}) }}
                            {{ form_errors(form.profilePic) }}
                        </div>
                        <div class="image-container">
                            {% set user_image = ('/bundles/rasenninegag/images/empty_user.png' | imagine_filter('profile_image')) %}
                            {% if vich_uploader_asset(form.vars.data, 'profile_pics') is not null %}
                                {% set user_image = (vich_uploader_asset(form.vars.data, 'profile_pics') | imagine_filter('profile_image')) %}
                            {% endif %}
                            <img src="{{ user_image }}" alt="{{ form.vars.data.getFullName() }}" height="120">
                        </div>
                </div>
                <div class="col-md-12 settings-content top-margin">
                        <div class="form-group">
                            {{ form_label(form.profileHeaderPic, 'setting.header_photo'|trans) }}
                            {{ form_widget(form.profileHeaderPic) }}
                            {{ form_errors(form.profileHeaderPic) }}
                        </div>
                        <div class="image-container">
                            {% set user_header_image = ('/bundles/rasenninegag/images/cover.jpg' | imagine_filter('profile_header')) %}
                            {% if vich_uploader_asset(form.vars.data, 'profile_header_pics') is not null %}
                                {% set user_header_image = (vich_uploader_asset(form.vars.data, 'profile_header_pics') | imagine_filter('profile_header')) %}
                            {% endif %}
                            <img src="{{ user_header_image }}" height="120">
                        </div>
                </div>
        </div>
        <div class="col-md-2 col-md-offset-10 col-xs-12 btn-container clearfix">
            <button id="_submit" class="btn btn-block btn-primary" type="submit">
                <span class='btn-text'>{{ 'form.user.submit_btn'|trans }}</span>
            </button>
        </div>
        {{ form_end(form ) }}
    </div>
{% endblock %}