{% trans_default_domain "RasenNineGagBundle" %}
<div class="row">
    <div class="form-box">
        <div class="form-box-header">
            <h3 class="form-box-heading">{{ 'setting.change_password'|trans }}</h3>
        </div>
        <div class="form-box-container">
            <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password profileBorder submit-once">
                <div class="form-group">
                    {{ form_label(form.current_password, 'form.user.current_password'|trans) }}
                    {{ form_widget(form.current_password) }}
                    {{ form_errors(form.current_password) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.new.first, 'form.user.plain_password'|trans) }}
                    {{ form_widget(form.new.first) }}
                    {{ form_errors(form.new.first) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.new.first, 'form.user.plain_password_first'|trans) }}
                    {{ form_widget(form.new.second) }}
                    {{ form_errors(form.new.second) }}
                </div>
                {{ form_widget(form) }}
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="{{ 'form.user.submit_btn'|trans }}"/>
                </div>
            </form>
        </div>
    </div>
</div>
