{% extends 'RasenNineGagBundle:Layout:fixed.html.twig' %}

{% block content %}
    {% block fos_user_content %}
        {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
    {% endblock fos_user_content %}
{% endblock %}



