{% extends 'RasenNineGagBundle:Layout:fixed.html.twig' %}
{% trans_default_domain "RasenNineGagBundle" %}
{% block title %}{{ 'notification.all'|trans }}{% endblock %}
{% block content %}
    <h1>{{ block('title') }}</h1>
    <div id="notifications" class="list-group all-notifications notification-list">
        {% for notification in notifications %}
            <div class="list-group-item notification-item" data-href="{{ notification.link }}">
            {% autoescape %}
                <div class="notification-image">{{ notification.image|raw }}</div>
                <div class="notification-content"><div class="content">{{ notification.content|raw }}</div>
                    <div class="clearfix">
                        <div class="notification-icon">{{ notification.icon|raw }}</div>
                        <div class="notification-timestamp" title="{{ notification.timestamp|date('Y-m-d H:i:s') }}">{{ notification.timestamp|time_diff }}</div>
                    </div>
                </div>
            {% endautoescape %}
            </div>
        {% endfor %}
        {% if notifications is empty %}
            <div class="empty-msg">{{ 'notification.empty'|trans }}</div>
        {% endif %}
    </div>
{% endblock %}