{% trans_default_domain "RasenNineGagBundle" %}
{% extends 'RasenNineGagBundle:Layout:fixed.html.twig' %}
{% block title %}{{ 'navbar.login'|trans({}, 'RasenNineGagBundle') }}{% endblock %}
{% block content %}
    <div class="form-box">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="form-box-header">
                    <h3 class="form-box-heading">{{ 'form.login.heading'|trans }} </h3>
                </div>
                <div class="form-box-container">
                    <a class="btn btn-block google-plus-icon" href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}">
                        <i class="fa fa-google-plus"> </i>
                        <span class="btn-social-login-logo">{{ 'login.google-plus'|trans }}</span>
                    </a>
                    {% if error %}
                        <ul class="form-errors-container"><li>{{ error|trans({}, 'FOSUserBundle') }}</li></ul>
                    {% endif %}
                    <form action="{{ path("fos_user_security_check") }}" method="post" class="submit-once">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label form_lb" for="username">{{ 'form.user.email_username'|trans }}</label>
                                <input type="text" class="form-control required" id="username" name="_username" value="{{ last_username }}" required="required"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label form_lb" for="password">{{ 'login.password'|trans }}</label>
                                <input type="password" class="form-control required" id="password" name="_password" required="required"/>
                            </div>
                        </div>
                        <div class="form-group border-checkbox">
                            <label class="checkbox">
                                <input type="checkbox" name="_remember_me" id="remember_me" class="mgn-checkbox" checked>
                                <span class="text-icheck">{{ 'login.remember_me'|trans }}</span>
                            </label>
                            <a href="{{ path('fos_user_resetting_request') }}">{{ 'login.forgot_password'|trans }}</a>
                        </div>
                        <div class="col-md-6 col-md-offset-3">
                            <button id="_submit" class="btn btn-primary has-spinner btn-block mgn-btm-p" type="submit">
                                <span class='btn-text'>{{ 'login.submit'|trans }}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

