{% extends 'RasenNineGagBundle:Layout:fixed.html.twig' %}
{% trans_default_domain "RasenNineGagBundle" %}

{% block content %}
    <h1>{{ 'profile.subscribe_header'|trans }}</h1>
    <div class="newsletter-subscribe-form-container">
        <form class="newsletter-subscribe-form" method="post" action="{{ path('rasen_ninegag_newsletter_subscribe') }}">
            <p>{{ 'profile.subscribe_header'|trans }}</p>
            <div class="input-group">
                <input type="text" required="required" class="form-control subscribe-email" name="email" placeholder="{{ 'profile.email'|trans }}">
                <div class="input-group-btn">
                    <button class="btn btn-primary btn-subscribe" name="subscribe" value="1" type="submit">{{ 'btn.subscribe'|trans }}</button>
                </div>
            </div>
            <input type="hidden" name="_token" class="token" value="{{ csrf_token('newsletter') }}"/>
        </form>
        <div class="success-msg" style="display: none;">{{ 'newsletters.subscribe.successful_msg'|trans }}</div>
    </div>
{% endblock %}