{% trans_default_domain "RasenNineGagBundle" %}
{% extends 'RasenNineGagBundle:Layout:fixed.html.twig' %}
{% block title %}{{ 'form.reset_password.heading'|trans({}, 'RasenNineGagBundle') }}{% endblock %}
{% block content %}
    <div class="form-box">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="form-box-header">
                    <h3 class="form-box-heading">{{ 'form.reset_password.heading'|trans }} </h3>
                </div>
                <div class="form-box-container">
                    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request submit-once">
                        <div class="form-group">
                            {% if invalid_username is defined %}
                                <ul class="form-errors-container"><li>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</li></ul>
                            {% endif %}
                            <label class="control-label" for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
                            <input type="text" class="form-control required" id="username" name="username" required="required" />
                        </div>
                        <div class="col-md-6 col-md-offset-3">
                            <button id="_submit" class="btn btn-primary has-spinner btn-block mgn-btm-p" type="submit">
                                <span class="spinner ion-loading-c"></span>
                                <span class='btn-text'>{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}