{% trans_default_domain "RasenNineGagBundle" %}
{% extends 'RasenNineGagBundle:Layout:fixed.html.twig' %}
{% block title %}{{ 'form.reset_password.heading'|trans({}, 'RasenNineGagBundle') }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="form-box">
            <div class="form-box-header">
                <h3 class="form-box-heading">{{ 'form.reset_password.heading'|trans }}</h3>
            </div>
            <div class="form-box-container">
                <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset row submit-once">
                    <div class="col-md-10 col-md-offset-1">
                        {{ form_widget(form) }}
                    </div>
                    <div class="col-md-6 col-md-offset-3">
                        <button id="_submit" class="btn btn-primary has-spinner btn-block mgn-btm-p" type="submit">
                            <span class="spinner ion-loading-c"></span>
                            <span class='btn-text'>{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
