{% stylesheets
'bundles/rasenninegag/vendor/bootstrap/dist/css/bootstrap.css'
'bundles/rasenninegag/vendor/bootstrap-rtl/dist/css/bootstrap-rtl.min.css'
'bundles/rasenninegag/vendor/font-awesome/css/font-awesome.css'
'bundles/rasenninegag/vendor/iCheck/skins/square/square.css'
'bundles/rasenninegag/vendor/ionicons/css/ionicons.min.css'
'bundles/rasenninegag/vendor/perfect-scrollbar/min/perfect-scrollbar.min.css'
'bundles/rasenninegag/css/style.css'
filter='cssrewrite,?uglifycss' package='cdna'%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}