{% trans_default_domain "RasenNineGagBundle" %}
{% extends  'RasenNineGagBundle:Template:base.html.twig'%}

{% block css %}
    {% include 'RasenNineGagBundle:Template:css.html.twig' %}
{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
    {% endif %}
    <div class="form-box no-container">

        <div class="form-box-header">
            <h3 class="form-box-heading">{{ 'form.heading'|trans }} </h3>
        </div>

        <div class="form-box-container">

            <form action="{{ path("rasen_ninegag_oauth_login_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                <div class="form-group">
                    <div class="form-group">
                        <label class="control-label form_lb "
                               for="username">{{ 'login.username'|trans }}</label>
                        <input type="text" class="form-control required" id="username" name="_username"
                               value="{{ last_username }}"
                               required="required"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label form_lb"
                               for="password">{{ 'login.password'|trans }}</label>
                        <input type="password" class="form-control required" id="password" name="_password"
                               required="required"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="checkbox">
                        <input type="checkbox" name="_remember_me"
                               id="remember_me" checked>{{ 'login.remember_me'|trans }}
                    </label>
                </div>

                <button id="_submit" class="btn btn-primary  has-spinner " type="submit"><span
                            class="spinner ion-loading-c"></span><span
                            class='btn-text'>{{ 'login.submit'|trans }}</span></button>

            </form>
        </div>
    </div>
{% endblock %}