{% block user_block %}
    {% if app.user %}
    <li><a href="{{ path('rasen_ninegag_admin_user_profile_edit') }}"><i class="fa fa-edit"></i>{{ 'admin.user_menu.edit_profile'|trans({}, 'RasenNineGagBundle') }}</a></li>
    <li><a href="{{ path('rasen_ninegag_admin_user_change_password') }}"><i class="fa fa-key"></i>{{ 'admin.user_menu.change_password'|trans({}, 'RasenNineGagBundle') }}</a></li>
    <li><a href="{{ path('sonata_user_admin_security_logout') }}"><i class="fa fa-sign-out"></i>{{ 'admin.user_menu.logout'|trans({}, 'RasenNineGagBundle') }}</a></li>
    {% endif %}
{% endblock %}
