{% block jalali_date_widget %}
    {% spaceless %}
    <div {{ block('widget_container_attributes') }}>
        {{ date_pattern | replace({'{{ year }}': form_widget(form.year, {'attr':{'class':'col-xs-4'} }), '{{ month }}':form_widget(form.month, {'attr':{'class':'col-xs-5'} }), '{{ day }}': form_widget(form.day, {'attr':{'class':'col-xs-3'} })}) | raw }}
    </div>
    {% endspaceless %}
{% endblock jalali_date_widget %}